@import 'compass';

html, body {
	height: 100%;
	margin: 0;
}

input:focus {
  outline-style: auto;
  outline-width: 3px;
  outline-color: #8CCF4B;
}

hr {
  padding: 0 0 !important;
}

body {
	.custom-button {
		display: block;
		// height: 100%;
	  color: white;
	  text-align: center;
	  background: #8CCF4B;
	  font-size: 1.8em;
	  padding: 3px 0;
	  border: none;
	  border-radius: 3px;
	}	
	.custom-button:hover {
    background-color: #BAE293;
    cursor: pointer;
	}

	.custom-button.inactive {
	  background: #66a22b;
	}

	.local-button {
		text-transform: uppercase;
		background: #FFF;
		border: 2px solid #8CCF4B;
		color: #000;
		margin: auto;
		padding: 2px 2%;
		height: 100%;
		position: relative;
		font-size: 1em !important;
		cursor: pointer !important;
	}

	.local-button.inactive {
		background: #DDD;
	}
	
	header {
		height: 60px;
		padding: 15px 0;
		margin-bottom: 20px;
		background: #fff;
	}
	
	form {
		label {
			text-transform: uppercase;
			color: #8CCF4B;
		}
	}
}

.photo {
	height: 200px;
	background-color: rgb(220, 220, 220);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.gear, .marketplace-item {
	float: left;
	.profile {
		display: inline-block;
		float: left;
		max-width: 40px;
		max-height: 40px;
	}
}
