.custom-button {
	display: block;
	// margin: 1% auto;
	// padding: 2px 2%;
	height: 100%;
	text-align: center;
	// position: relative;
	// top: 0;
	color: white;
	background: #8CCF4B;
	font-size: 1.5em;
	border: none;
	
	&.inactive {
		background: darken(#8CCF4b, 15%);
	}
	
}
