@import 'compass'

.main

	.title
		height: 11em
		background-size: contain

		h3.hobbyTitle
			font-family: "Lucida Grande", Helvetica, Arial, sans-serif 
			color: #fff 
			background: rgba(0,0,0,0.4) 
			height: 5.5em
			line-height: 5.5em
			width: 30% 
			text-transform: uppercase  
			font-size: 2em
			text-shadow: none 
			text-align: center 
			position: absolute
			margin: 0
			top: 20px
			left: 10px

		.cover-photo
			width: 100%
	
	a
		text-decoration: none
		color: inherit

	.ui-widget-header
		background: #f6f6f6
		border: none
		padding: 0

	.ui-corner-all
		border-radius: 0

	.ui-tabs .ui-tabs-panel
		border-style: solid
		border-width: 1px
		border-color: #bbb
		padding: 0

	.ui-tabs-nav
		background-color: #fff !important
		height: 1.95em

	.ui-tabs .ui-tabs-nav li.ui-tabs-active
		background: #fff

	.ui-tabs-nav .ui-tabs-anchor
		padding: 0.7em 2.5em 0.4em 2.5em
		font-family: "Lucida Grande", Helvetica, Arial, sans-serif 
		font-size: 0.8em
		width: 60%
		color: #000
		font-weight: normal

	.ui-tabs .ui-tabs-nav li
		border-style: solid
		border-width: 1px
		border-color: #bbb
		border-bottom-width: 0
		background: #eee
		margin: 0 0 0 0
		border-radius: 0 0 0 0
		@include box-shadow(2px -1px 1px rgba(0,0,0,0.1))

	.ui-widget-content
		background: #fff
		border: none

	#posts
		width: 70%
		display: inline-block
		position: relative

	.newItemPost, .generalPost
		width: 100%
		height: 20em
		position: relative
		display: inline-block
		margin: 1em 1.4em

		.feed-profile-picture
			display: inline-block
			position: relative
			width: 80px
			height: 80px
			margin: 0 2%

		h4.name
			display: inline-block
			position: relative
			color: #007AA3
			top: -65px
			margin: 0
			text-decoration: none

			a
				text-decoration: none
				color: inherit

				&:hover
					text-decoration: underline

		p
			display: inline-block
			position: relative
			top: -65px
			font-size: 12pt
			color: #6c6c6c
			margin-left: 1%

		.newItem
			margin: 2% 0 0 7%
			width: 70%
			border: 1px solid rgba(0,0,0,0.2)
			height: 90%
			position: relative
			top: -4em
			left: 3em

			img
				height: 90%
				margin: 0 auto
				position: relative
				display: block

			h3.rating
				position: relative
				display: inline-block
				margin: 0 2%
				top: -0.5%
				font-family: "Lucida Grande", Helvetica, Arial, sans-serif

			p
				position: relative
				display: inline-block
				top: -0.4%
				margin: 0

			h4.buy 
				position: relative
				display: inline-block
				margin: 0
				float: right
				padding: 0.9% 6%
				font-family: "Lucida Grande", Helvetica, Arial, sans-serif
				color: #fff
				background: #007AA3

				a
					text-decoration: none
					color: inherit

				&:hover
					text-decoration: underline
					cursor: pointer

		.general
			margin: 3.5% 0 0 7%
			width: 70%
			height: 90%
			position: relative
			top: -5em
			left: 3em

			img
				max-width: 100%
				// max-height: 80%
				display: block

			p
				font-family: "Lucida Grande", Helvetica, Arial, sans-serif
				font-weight: normal
				position: relative
				text-align: left
				color: #222
				top: 5px

			h5.comments
				margin: 10px 0 15px 0
				position: relative
				font-family: "Lucida Grande", Helvetica, Arial, sans-serif
				font-size: 12pt
				color: #ccc

				a
					text-decoration: none
					margin: 0 5px
					color: inherit

					&:hover
						color: #007AA3
						text-decoration: underline

	#hobbyists
		position: relative
		display: inline-block
		width: 30%
		float: right

		h4
			color: #007AA3
			margin-bottom: 2%
			margin-top: 7%

		img
			position: relative
			display: inline-block
			float: left
			margin: 3px
			width: 60px
			height: 60px
	
	.head
		border-bottom: 1px solid #333

	#categoryType
		width: 100%
		position: relative
		display: inline-block
		margin: 0

		h3
			position: relative
			display: inline-block
			margin: 1% 0.75% 1% 2.5%
			font-weight: normal
			font-size: 15pt
			color: #007AA3
			text-transform: uppercase
		
		h4
			font-size: 1em
			display: inline

	#category input
		display: inline-block
		width: 40%
		margin: 0

	#type button
		border: 2px solid #007AA3
		margin: 5px 25px
		padding: 5px 50px
		background: #fff
		text-transform: uppercase
		display: inline-block
			// text-transform: uppercase

		input
			display: inline-block
			width: 20%
			margin: 0 1% 0 0

		button
			border: 2px solid #007AA3
			margin: 5px 15px
			padding: 5px 30px
			background: #fff
			font-size: 13pt
			// text-transform: uppercase

			&:hover
				background: #FFD685
				cursor: pointer

		p
			display: inline-block
			font-size: 9pt
			font-weight: normal
			vertical-align: middle
			color: #888

			&:hover
				text-decoration: underline
				cursor: pointer

	#items
		// padding-left: 1.75%

		.forSale, .forRent
			position: relative
			display: inline-block
			@include box-shadow(0 2px 3px rgba(0,0,0,0.7))
			width: 32%
			margin: 5px
			height: 366px
			vertical-align: top

			img.productImage
				position: relative
				display: inline-block
				width: 100%
				height: 275px

			img.feed-profile-picture
				position: relative
				display: inline-block
				margin: 3px
				width: 60px
				height: 60px

			.info
				position: relative
				display: inline-block
				top: -4px
				width: 45%

				h4
					margin: 0 2%
					top: -0.5%
					font-size: 14pt
					font-family: "Lucida Grande", Helvetica, Arial, sans-serif

					a
						text-decoration: none
						color: inherit

						&:hover
							text-decoration: underline
							cursor: pointer

				p
					font-size: 12pt
					color: #ccc
					margin: 1%
					margin-left: 2%
					text-align: left
					top: 0

			.buy, .rent
				position: relative
				display: inline-block
				width: 30%
				float: right
				top: 5px
				right: 4px

				h4
					padding: 5px 0
					width: 100%
					text-align: center
					margin: 0
					font-family: "Lucida Grande", Helvetica, Arial, sans-serif
					color: #fff
					background: #007AA3

				p
					text-transform: uppercase
					margin: 0
					padding: 5px 0
					border: 2px solid #888

					a
						text-decoration: none
						color: inherit

					&:hover
						background: #FFD685

