$container-width: 300px

.item
	width: $container-width
	margin: 10px 50px

.item__main
	width: $container-width
	height: $container-width

.item__mark-button
	float: right

.item__mark-button--marked
	@extend .item__mark-button

img.item__prod-img
	width: 100%
	height: 100%

.item__name
	font-size: 120%

.item__bottom
	width: $container-width
	height: $container-width/6

.item__desc
	font-size: 80%
	