label.search, label.type, label.loc {
	text-transform: uppercase;
	color: #8CCF4B;
	display: inline-block;
	vertical-align: bottom;
}

input.search {
	margin-left: 28px;
}

button.type {
	margin: 0 0 0 28px;
	display: inline-block;
	font-size: 90%;
	text-transform: uppercase;
	background: #FFF;
	border: 2px solid #8CCF4B;
	text-shadow: none;
	color: #000;
}

p.loc {
	display: inline-block;
	margin-left: 28px;
}

a.loc {
	display: inline-block;
	color: #888;
	text-decoration: none;
	margin-left: 20px;
}

a.loc:hover {
	color: #547C2D;
	cursor: pointer;
}

.marketplace-item {
	border: none;
	margin: 0.5%;
	background: #FFF;
	// border: 1px outset #888;
	padding-left: 0;
	padding-right: 0;

	img.img-rounded, .bottom, 
	.description, .cost, .rent {
		padding: 0;
	}

	img.img-rounded {
		margin-top: 3%;
	}

	.description {
		margin: 2% 0 0 3%;
	}

	img.profile {
		margin: 3% 1%;
		width: 40px;
		height: 40px;
	}

	.rent {
		font-size: 100%;
		margin-top: 2%;

		.buy {
			padding: 0 10%;
		}
	}
}