.main h3 
	position: relative
	width: 200px
	color: #fff
	top: -150px
	left: 10%
	display: inline-block
	font-size: 1.5em

.profile-container h4 


.profile h5 


.profile p 


.profile input 
	

.profile-picture 
	border-style: solid
	border-color: #fff
	border-width: 6px
	width: 6em
	height: 6em
	position: relative
	top: -80px
	left: 5%

.cover-photo 
	width: 100%

.section 

.images 

