.logo img {
	width: 100%;
}

body, .head, .logo, .nav {
	padding: 0;
	margin-bottom: 0;
	background: #EEE;
	border: none;
}

.pages {
	padding: 0;
	// margin-top: 7%;
}

.pages li {
	padding: 5% 20%;
	list-style: none;
	background: #FFF;
}

.pages li a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	padding: 5%;
}

.pages #here {
	background: #8CCF4B;
}

.pages #here a {
	color: #FFF;
}

.pages #here a:hover {
	cursor: default;
}

.pages li a:hover {
	cursor: pointer;
	color: #8CCF4B;
}

.userinfo {
	float: right;
}

#loginButtons button {
	padding: 3px 15px;
	margin: 15px 0;
	font-size: 1.2em !important;
}

#loggedInData {
	
	img.profile {
		padding: 3%;
		position: absolute;
		right: -20px;
		width: 60px;
		height: 60px;
	}

	h4.profile {
		font-size: 12pt;
		position: absolute;
		right: 45px;
		top: 12px;
	}
}

textarea:focus {
  outline-style: auto;
  outline-width: 3px;
  outline-color: #8CCF4B;
}

.photoupload {
	font-size: 1.2em !important;
}

.mainfeed {
  position: absolute;
  left: 20%;
  top: 5%;
  padding-bottom: 200px;
}

.tab-content form, .message {
  padding: 2%;
  border-radius: 5px;
  background: #FFF;
}

.nav-tabs>li a {
  color: #444;
  cursor: pointer;
  &:hover {
    color: #000;
  }
}


.nav {
  background: none;
}

.nav li {
	left: 15px;
	cursor: pointer;

	a {
		color: #888;
	}
}

.post {
	margin-top: 5px;
	font-size: 1.4em !important;
}

.message-content {
	border: none;
}

.message {
	margin-top: 2%;
}

.comments {
	// border: 1px solid #CCC;
	// border-radius: 5px;
	background: #EEE;
	margin-top: 1%;
	padding-bottom: 4px;

	img {
		padding: 10px 15px 0 0;
	}

	p {
		margin: 4px 0;
		font-weight: bold;
	}

	.comment-content {
		margin-bottom: 8px;
		font-weight: normal;
	}
}

.new-comment {
	margin-top: 1%;

	input.post {
		font-size: 1em !important;
	}
}

.nav-tabs {
	position: relative;
	left: 10px;
}


