
nav.col-md-2.col-sm-2.col-xs-12.nav(ng-show='loggedIn', style='z-index: 1000')
    ul.pages
      li#here
        a(href='#/') Adventure Zone
      li 
        a(href='#/marketplace') Marketplace
      li
        a(href='#/mygear') My Gear

.col-md-8.col-sm-9(style='padding-bottom: 200px;')
  tabset(ng-show='loggedIn').col-md-10.col-md-offset-1

    tab
      tab-heading
        i.fa.fa-edit Share a story
      .col-xs-12.tabcontent
        form.col-md-10.col-sm-12.col-xs-12(ng-submit='publishActivity()')
          textarea.col-xs-12(ng-model='activityForm.message', placeholder="What's your new adventure?")
          input.custom-button.col-xs-2.pull-right.post(type='submit', value='Post')
    tab
      tab-heading
        i.fa.fa-camera Upload photo
      .col-xs-12.tabcontent
        form.col-md-10.col-sm-12.col-xs-12(ng-submit='publishActivity()')
          .fileinput.col-xs-5
            input.col-xs-12(type="file", name="file", class='file', onchange="angular.element(this).scope().uploadFile(this)", required)
            //- .fakeinput.col-xs-12
              input.custom-button.photoupload.col-xs-12(type='button', value='Choose Photo')
          textarea.col-xs-7(ng-model='activityForm.message', placeholder="What's your new adventure?")  
          input.custom-button.col-xs-2.pull-right.post(type='submit', value='Post')
        
  //- form.col-md-8.col-sm-10.col-xs-12(ng-submit='publishActivity()', ng-show='loggedIn')
  //-   label Post your most recent excursion!
  //-   textarea.col-xs-12(ng-model='activityForm.message')
  //-   input.button--3d.col-xs-12(type='submit', value='Post')
  //- hr.col-xs-6.col-xs-offset-1(style='margin-top: 20px;')

  p.col-xs-12.text-center.text-warning {{flashMessage}}

  .activityFeed.col-md-10.col-md-offset-1.col-sm-12.col-xs-12(ng-repeat='post in feed', ng-show='{{!!feed.length}}')
    .message.col-xs-12
      a.delete.pull-right(href='javascript:void(0)', ng-show='post[1].displayName === user.displayName', ng-click='deletePost(post[0])') x (delete)
      img.profilefeed.col-xs-2(ng-src='{{post[1].profilePictureM}}', style='max-width: 80px')
      .col-xs-10 {{post[1].displayName}}
        small &nbsp;&nbsp; {{!!post[1].photo ? 'posted a photo' : 'says'}}
        .col-xs-12.message-picture(ng-show='!!post[1].photo')
          hr.col-lg-8.col-xs-10
          .photo.col-lg-8.col-lg-offset-0.col-xs-10.col-xs-offset-1.img-rounded(style="background-image: url('{{post[1].photo}}')")
          hr.col-lg-8.col-xs-10
        .col-xs-12.message-content {{post[1].textContent}}

        //- new stuff starts here
      hr.col-lg-12.col-xs-12
      .comments.col-xs-10.col-xs-offset-1(ng-repeat='comment in post[1].comments')
        a.delete.pull-right(href='javascript:void(0)', ng-show='comment.displayName === user.displayName', ng-click='deleteComment(comment, post[0])') x (delete)
        img.profilefeed.col-xs-2(ng-src='{{comment.profilePictureM}}', style='max-width: 40px')
        p {{comment.displayName}}&nbsp;&nbsp;
          span.comment-content {{comment.textContent}}
      .col-xs-10.col-xs-offset-1.new-comment
        form
          textarea.col-xs-9(ng-model='commentForm[post[0]]', placeholder="Comment")
          input.custom-button.col-xs-2.pull-right.post(type='button', value='Comment', ng-click='publishComment(post[0])')

        //- new stuff ends here