.col-md-10.col-sm-11
  form
    .form-group.col-xs-12
      label.col-xs-1.search Search
      input.col-xs-10.col-lg-6.search(type='text', ng-model='search', placeholder='backpacks, boots, sleeping bags...')
    .form-group.col-lg-12.col-xs-12
      label.col-xs-1.type Type
      button.custom-button.col-xs-2.type Buy
      button.custom-button.col-xs-2.type Rent
    .form-group.col-lg-12.col-xs-12
      label.col-xs-1.loc Location
      p.loc San Francisco and the Bay Area
      a.loc change location
      
  //bootstrap modal for add item
  // OR just redirect to /mygear
  
  .col-xs-12.marketplace-content
    .col-lg-3.col-md-4.col-xs-6.marketplace-item(ng-repeat='result in marketplace')
      img.col-xs-12.img-rounded(ng-src='{{result.item.image || "images/default.png"}}')
      .star
      .col-xs-12
        img.profile.img-responsive(ng-src='{{result.poster.profilePicture}}')
        .description.col-xs-6
          span.name {{result.item.name}}
          br
          span.quality {{result.item.quality}}
        .col-xs-4
          span.cost.text-center {{result.item.price | currency}}
          br
          button.buy {{result.item.rentOrBuy}}
