.col-lg-10.col-lg-offset-1.col-sm-12.market
  form
    .form-group.col-xs-12.search
      label.col-xs-1 Search
      input.col-xs-10.col-lg-6(type='text', ng-model='search.item.name', placeholder='backpacks, boots, sleeping bags...')
    .form-group.col-lg-4.col-xs-12.type(ng-init='showBuy = true; showRent = true')
      label.col-xs-12 Show items for
      button.local-button.col-xs-4(ng-click='toggleBtns("buy")', ng-class='{"inactive": !showBuy}') Sale
      button.local-button.col-xs-4(ng-click='toggleBtns("rent")', ng-class='{"inactive": !showRent}') Rent
    .form-group.col-lg-4.col-xs-12
      label My location
      p {{user.location || user.hometown}}
    .col-lg-2.col-xs-2.pull-right
      a(href='#/mygear').custom-button.col-xs-12.text-center.add Add item
  
  .col-xs-12.marketplace-content
    .col-sm-4.col-xs-6.gear(ng-repeat='result in marketplace | filter:search', ng-show='showHide(result.item)')
      .photo.col-xs-12.img-rounded(style="background-image: url('{{result.item.image}}')")
        img(ng-show='{{result.item.sold === undefined ? false : true}}', src='images/sold.png', style="width: 33%; margin: 0 auto;")
        p {{result.item.description}}
      .bottom.col-xs-12(style="min-height: 75px")
        .col-xs-3
          img.profile.img-responsive(ng-src='{{result.poster.profilePicture}}')
        .description.col-xs-6
          span.name(popover-placement='bottom', popover-trigger='mouseenter', popover='{{result.item.name}}', style='text-overflow: ellipsis; white-space: nowrap; width: 100%; display: inline-block; overflow: hidden;') {{result.item.name}}
          br
          span.quality {{result.item.condition}}
        .col-xs-3.pull-right.transact(ng-hide='{{result.item.sold}}')
          span.cost.text-center.pull-right {{result.item.price | currency}}
          br
          button.buy.custom-button.pull-right(ng-click='openTransaction(result)') {{result.item.rentOrBuy}}

script(src="https://checkout.stripe.com/checkout.js")
