.col-md-10.col-sm-11
  form
    .form-group.col-xs-12
      label.col-xs-1 Search
      input.col-xs-10.col-lg-6(type='text', ng-model='search', placeholder='backpacks, boots, sleeping bags...')
    .form-group.col-lg-4.col-xs-12
      label.col-xs-3 Type
      br
      button.custom-button.col-xs-4 Buy
      button.custom-button.col-xs-4 Rent
    .form-group.col-lg-4.col-xs-12
      label Location
      p San Francisco and the Bay Area
      p.text-warning change location
      
  .modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content#mc_embed_signup
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title(style="font-size: 150%") Subscribe for Updates!
            .modal-body
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
  
  .col-xs-12.marketplace-content(ng-repeat='item in marketplace')
    .col-lg-3.col-md-4.col-xs-6.marketplace-item
      img.col-xs-12.img-rounded(ng-src='{{item.image}}')
      .star
      .col-xs-12
        img.profile(ng-src='{{item.poster.profilePicture}}').col-xs-1
        .description.col-xs-6
          span.name {{item.description.name}}
          br
          span.quality {{item.description.quality}}
        .col-xs-4
          span.cost.text-center {{item.price}}
          br
          button.buy {{item.action}}
