.col-lg-10.col-lg-offset-1.col-sm-12(ng-hide='hasNUEmail()')
  form
    label.col-xs-12 Add a Northwestern email Address to access the private NU marketplace
    input.col-xs-12(type='email', ng-model='northwesternEmail', placeholder='willie_wildcat@northwestern.edu')
    button(ng-click='addNorthwesternEmail(northwesternEmail)').col-xs-12.custom-button Add Email
    
.col-lg-10.col-lg-offset-1.col-sm-12.market
  form
    .form-group.col-xs-12.search
      label.col-xs-1 Search
      input.col-xs-10.col-lg-6(type='text', ng-model='search.item.name', placeholder='backpacks, boots, sleeping bags...')
    .form-group.col-lg-4.col-xs-12.type(ng-init='showBuy = true; showRent = true')
      label.col-xs-12 Show items for
      button.local-button.col-xs-4(ng-click='toggleBtns("buy")', ng-class='{"inactive": !showBuy}') Sale
      button.local-button.col-xs-4(ng-click='toggleBtns("rent")', ng-class='{"inactive": !showRent}') Rent
    .form-group.col-lg-4.col-xs-12
      label My location
      p Evanston, IL (Northwestern)
    .col-lg-2.col-xs-2.pull-right
      a(href='#/mygear').custom-button.col-xs-12.text-center.add Add item
  
  .col-xs-12.marketplace-content
    .col-sm-4.col-xs-6.gear(ng-repeat='result in marketplace | filter:search', ng-show='showHide(result.item)')
      .photo.col-xs-12.img-rounded(style="background-image: url('{{result.item.image}}')")
        .star(style='text-align: center; position: absolute; top: 5px; color: white; width: 100%;', class='fa fa-question-circle', popover-placement='bottom', popover-title='Description', popover-trigger='mouseenter', popover='{{result.item.description}}')
      .bottom.col-xs-12
        .col-xs-3
          img.profile.img-responsive(ng-src='{{result.poster.profilePicture}}')
        .description.col-xs-6
          span.name(popover-placement='bottom', popover-trigger='mouseenter', popover='{{result.item.name}}', style='text-overflow: ellipsis; white-space: nowrap; width: 100%; display: inline-block; overflow: hidden;') {{result.item.name}}
          br
          span.quality {{result.item.condition}}
        .col-xs-3.pull-right.transact
          span.cost.text-center.pull-right {{result.item.price | currency}}
          br
          button.buy.custom-button.pull-right(ng-click='openTransaction(result)') {{result.item.rentOrBuy}}
          
script(type="text/ng-template", id="modal.html").
  <div class="modal-header">
    <h3>Are you sure?</h3>
  </div>
  <div class="modal-body">
    By clicking OK below, you will be opening a transaction process over the item you just clicked. If you don't want to start a transaction process, click cancel.
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>

script(type="text/ng-template", id="emailModal.html").
  <div class="modal-header">
    <h3>Add New Email</h3>
  </div>
  <div class="modal-body">
    <input type="email" id="email" placeholder="email" ng-model="result.email"></input>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
