nav.col-md-2.col-sm-2.col-xs-12.nav
  ul.pages
    li
      a(href='#/') What's New
    li#here
      a Marketplace
    li 
      a(href='#/mygear') My Gear

.col-md-10.col-sm-11
  form
    .form-group.col-xs-12
      label.col-xs-1 Search
      input.col-xs-10.col-lg-6(type='text', ng-model='search.item.name', placeholder='backpacks, boots, sleeping bags...')
    .form-group.col-lg-4.col-xs-12(ng-init='showBuy = true; showRent = true')
      label.col-xs-3 Type
      br
      button.custom-button.col-xs-4(ng-click='toggleBtns("showBuy")', ng-class='{"inactive": !showBuy}') Buy
      button.custom-button.col-xs-4(ng-click='toggleBtns("showRent")', ng-class='{"inactive": !showRent}') Rent
    .form-group.col-lg-4.col-xs-12
      label Location
      p {{location || hometown}}
      p.text-warning change location
      
  //bootstrap modal for add item
  // OR just redirect to /mygear
  
  .col-xs-12.marketplace-content
    .col-lg-4.col-sm-6.col-xs-12.marketplace-item(ng-repeat='result in marketplace | filter:search', ng-show='showHide(result.item.rentOrBuy)')
      .item-image.col-xs-12.img-rounded(style='background-image: url("{{result.item.image || "images/default.png"}}")')
      .star
      .bottom.col-xs-12
        img.profile.img-responsive(ng-src='{{result.poster.profilePicture}}')
        .description.col-xs-7
          span.name {{result.item.name}}
          br
          span.quality {{result.item.quality}}
        .col-xs-3
          span.cost.text-center.pull-right {{result.item.price | currency}}
          br
          button.buy.custom-button.pull-right {{result.item.rentOrBuy}}
