.container
  form
    input.form-control(type='text', ng-model='signupForm.email', placeholder='email')
    input.form-control(type='password', ng-model='signupForm.password', placeholder='password')
    button.form-control.btn.btn-block.custom-button(ng-click='logemup()')