extends layout

block content
	link(href='/stylesheets/dashboard.css' rel='stylesheet' type='style/css')
	.page
		.header
		.body
			.sidebar
				input(type='search',placeholder='search for an item', name='searh-field')
				#my-hobby
					h3 MY HOBBY
				#hobbies
					ul
						li Outdoor
						li Fasion
						li Wine
						li Photography
						li Music
				#my-closet
					h3 MY CLOSET
				#explore
					h3 EXPLORE
			.item-boxes
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 21 stories
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 21 stories
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 21 stories
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 21 stories
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 21 stories
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 21 stories
	
	script(src="../../script/dashboard.js")
		