extends layout

block content
<<<<<<< HEAD
	link(href='/stylesheets/dashboard.css' rel='stylesheet' type='style/css')
	.page
		.header
		.body
			.sidebar
				input(type='search',placeholder='search for an item', name='searh-field')
				#my-hobby
					h3 MY HOBBY
				#hobbies
					ul
						li Outdoor
						li Fasion
						li Wine
						li Photography
						li Music
				#my-closet
					h3 MY CLOSET
				#explore
					h3 EXPLORE
			.item-boxes
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 21 stories
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 31 stories
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 14 stories
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 17 stories
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 28 stories
				.item-box
					img
					.story
						img
						p 
					.story
						img
						p
					p Read all 9 stories
=======
	p Welcome, #{ user.username }
	
	.itemFlowContainer
		.item
			.item__main
				i.item__mark-button
				img.item__prod-img
				p.item__name
			.item__bottom
				p.item__desc
>>>>>>> 574d51c508e3df5aa4a964bdf85a5e4e4b8d7e5e
	
	script(src="../../script/dashboard.js")
		