extends layout

block content
	p Welcome, #{ user.username }
	
	.itemFlowContainer
		.item
			.item__main
				i.item__mark-button
				img.item__prod-img
				p.item__name
			.item__bottom
				p.item__desc
	
	script(src="../../script/dashboard.js")
		