extends layout

block content
	include top
	include mixins
	link(href="/stylesheets/hobby.css" rel="stylesheet" type="text/css")
	script(src="/script/hobby.js")
	.main
		.title
			img(src='/images/'+hobby.bannerPhoto).cover-photo
			h3.hobbyTitle=hobby.name
		#tabs
			ul
				li.tab
					a(href='#whatsNew') What's New
				li.tab
					a(href='#marketplace') Marketplace
			#whatsNew
				#posts
					each activity in recentActivity
						.activity
							.user
								a(href='/users/'+activity.owner)
									img(data-prof='/users/'+activity.owner)
							h4 hello
							.content
								img(src='/images/'+activity.tilePhoto)
								p=activity.description
				#hobbyists
					h4= 'Hobbyists ('+hobby.members.length+')'
					each member in hobby.members
						.member
							a(href='/users/'+member)
								img(data-prof='/users/'+member)
			#Marketplace
				//filter forSale items from database by hobby, pass as marketplaceItems
				//mixin dashItem(marketplaceItems)
