doctype html
html(lang='en')
head
  title Outrovert - Share your adventures and your gear
  <!-- ****** faviconit.com favicons ****** -->
  link( rel="shortcut icon", href="/images/logoAssets/favicon.ico")
  link( rel="icon", sizes="16x16 32x32 64x64", href="/images/logoAssets/favicon.ico")
  link( rel="icon",type="image/png",sizes="196x196",href="/images/logoAssets/favicon-196.png")
  link( rel="icon",type="image/png",sizes="160x160",href="/images/logoAssets/favicon-160.png")
  link( rel="icon",type="image/png",sizes="96x96",href="/images/logoAssets/favicon-96.png")
  link( rel="icon",type="image/png",sizes="64x64",href="/images/logoAssets/favicon-64.png")
  link( rel="icon",type="image/png",sizes="32x32",href="/images/logoAssets/favicon-32.png")
  link( rel="icon",type="image/png",sizes="16x16",href="/images/logoAssets/favicon-16.png")
  link( rel="apple-touch-icon" sizes="152x152" href="/images/logoAssets/favicon-152.png")
  link( rel="apple-touch-icon" sizes="144x144" href="/images/logoAssets/favicon-144.png")
  link( rel="apple-touch-icon" sizes="120x120" href="/images/logoAssets/favicon-120.png")
  link( rel="apple-touch-icon" sizes="114x114" href="/images/logoAssets/favicon-114.png")
  link( rel="apple-touch-icon" sizes="76x76" href="/images/logoAssets/favicon-76.png")
  link( rel="apple-touch-icon" sizes="72x72" href="/images/logoAssets/favicon-72.png")
  link( rel="apple-touch-icon" href="/images/logoAssets/favicon-57.png")
  meta( name="msapplication-TileColor",content="#FFFFFF")
  meta( name="msapplication-TileImage",content="/images/logoAssets/favicon-144.png")
  meta( name="msapplication-config",content="/images/logoAssets/browserconfig.xml")
  <!-- ****** faviconit.com favicons ****** -->
  //
     Bootstrap core CSS 
  link(href='landing-assets/css/bootstrap.min.css', rel='stylesheet')
  link(href='landing-assets/css/font-awesome.min.css', rel='stylesheet')
  //
     Custom styles for this template 
  link(href='landing-assets/css/main.css', rel='stylesheet')
  link(href='stylesheets/base.css', rel='stylesheet')
  link(href='http://fonts.googleapis.com/css?family=Oswald:400,300,700', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=EB+Garamond', rel='stylesheet', type='text/css')    
  link(href='//cdn-images.mailchimp.com/embedcode/slim-081711.css', rel='stylesheet', type='text/css')
  style(type='text/css').
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* 
        Add your own MailChimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  //
     Just for debugging purposes. Don't actually copy this line! 
  //if lt IE 9
    script(src='../../docs-assets/js/ie8-responsive-file-warning.js')
  //
     HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49584452-1', 'closet-landing-page.herokuapp.com');
    ga('send', 'pageview');

body
  .col-xs-2.pull-right
    a.login(href='/home') 
      button.custom-button Log in

  .container
    .logo.col-lg-8.col-lg-offset-2
      img(src='landing-assets/img/new_logo.png', width='100', alt='logo')
    .row.centered
      .col-lg-8.col-lg-offset-2
        h2
          | swap gear and stories with other outroverts
    .row.centered
      .def.col-lg-8.col-lg-offset-2
        p Outrovert /aʊtrəˌvɜrt/ noun: Lover of outdoor activities, shares their passion of the outdoors out loud
    .row.centered
      //
        Begin MailChimp Signup Form 
      form#mc-embedded-subscribe-form.validate.col-lg-8.col-lg-offset-1(action='http://herokuapp.us8.list-manage1.com/subscribe/post?u=14b0b0e0a73a3857153980900&id=ea3be0eb05', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate' style="margin-top: 10px;")
        .col-xs-8
          input.email.pull-right(type='email', value='', name='EMAIL', placeholder=' enter your email address to join', required='required')
        .col-xs-4
          input#mc-embedded-subscribe.custom-button(value="I'm an Outrovert!", name='subscribe', data-dismiss='modal')
        div(style='position: absolute; left: -5000px;')
          input(type='text', name='b_14b0b0e0a73a3857153980900_ea3be0eb05', value='')
        //
          End mc_embed_signup
      .col-lg-8.col-lg-offset-2.w.tooltip-demo
        a(data-tooltip='tooltip', title='Facebook', href='https://www.facebook.com/outrovert')
          i.fa.fa-facebook
        a(data-tooltip='tooltip', title='Twitter' href="https://twitter.com/OUTrovert")
          i.fa.fa-twitter
        a(data-tooltip='tooltip', title='Email Us!' href="mailto:nuventioncloset@gmail.com")
          i.fa.fa-envelope
        //- a(data-toggle='tooltip', title='Outdoor gear for rent')
        //-   i.fa.fa-briefcase
        //- a(data-tooltip='tooltip', id="subscribeLink", title='Subscribe for more info!', data-toggle='modal', data-target='.mailing-list-modal-lg', href='javascript:void(0)')
        //-   i.fa.fa-user
        //- a(data-tooltip='tooltip', title='Videos (Coming soon!)')
        //-   i.fa.fa-camera
        //- a(data-tooltip='tooltip', title='Stories (Coming soon!)')
          //- i.fa.fa-coffee
      .col-lg-8.col-lg-offset-2
        p.quote
          | "I felt my lungs inflate with the onrush of scenery - air, mountains, trees, people. I thought this is what it is to be happy."
        p.cite
          | - Sylvia Plath, American Poet
  .container.scroll-down
    .col-lg-9.col-lg-offset-2
      .fa.fa-arrow-down.fa-3x
      h2 Scroll down for more
      .fa.fa-arrow-down.fa-3x
  .container.aboutpage
    .row.centered
      .col-lg-8.col-lg-offset-2
        h1
          | What is Outrovert?
      .col-lg-10.col-lg-offset-1.about
        .col-lg-6.img
          img(src="landing-assets/img/aboutactivity.png")
        .col-lg-6.img.pull-right
          img(src="landing-assets/img/aboutmrktplce.png")
        .col-lg-6.desc
          h3 Share your adventures
          p.col-lg-10.col-lg-offset-1 Share your outdoor stories with outdoor enthusiasts just like you. Get inspired by their adventures and discover your next destination.
        .col-lg-6.desc
          h3 Buy and sell outdoor gear
          p.col-lg-10.col-lg-offset-1 Sell your unused gear to others who need them. Buy second-hand gear from those who share the same passion with you.
    
  //
     Bootstrap core JavaScript
        ================================================== 
  //
     Placed at the end of the document so the pages load faster 
  script(src='https://code.jquery.com/jquery-1.10.2.min.js')
  script(src='https://code.jquery.com/ui/1.10.4/jquery-ui.min.js')
  script(src='landing-assets/js/bootstrap.min.js')
  script.
    $('.tooltip-demo').tooltip({
      selector: "[data-tooltip=tooltip]",
      container: "body"
    });
    $('#mc-embedded-subscribe').click(function() {
      $('#mc-embedded-subscribe-form').submit();
    });
    //- $('.logo').hover(function() {
    //-   $('.def').slideToggle();
    //- });
  //
    BACKSTRETCH
  //
     You can use an image of whatever size. This script will stretch to fit in any screen size.
script(type='text/javascript', src='landing-assets/js/jquery.backstretch.min.js')
script.
    $.backstretch("landing-assets/img/new_bg.jpg", {speed: 500});
