extends layout

block content
	h1 Closet
	p revolutionizes 
	p how we share with others.

	br

	p We buy,
	p sell, 
	p trade,
	p loan and borrow

	br

	p our things
	p and things we want 
	p with friends
	p family
	p neighbors
	p and people we don’t know

	br

	p And we
	p as students 
	p or friends 
	p fashion-finders
	p or gamers

	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br

	p We help each other
	p we foster community
	p we find uses 
	p for ourselves and our things...

	br

	p but not just by selling
	p and buying
	p and spending

	br

	p but by sharing
	p with others.

	br

	button Open your Closet