extends layout

block content
	link(href="./stylesheets/landing.css" rel="stylesheet" type="text/css")
	body.landing
	h1 Closet
	div.banner
		div.form--vertically-centered
			p.heavyShadow Trade with friends.
			
			input.subscribe(type='email' placeholder='Your Email' required)
			button.button--3d Open your Closet
		
	script(src='./script/index.js')
