extends layout

block content
	link(href="./stylesheets/landing.css" rel="stylesheet" type="text/css")
	body(class='landing')
	h1 Closet
	div(class='banner')
		p Trade with friends.
		
		input(type='email' class='subscribe' placeholder='john.smith@email.com' required)
		button Open your Closet
		
	script(src='./script/index.js')
