extends layout

block content
	h1 Closet
	div(class='banner')
		p revolutionizes how we share with others.
		
		input(type='email' class='subscribe' placeholder='john.smith@email.com')
		button Open your Closet
		
	script(src='./script/index.js')
