doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet' href='/stylesheets/css/ui-lightness/jquery-ui-1.10.4.custom.min.css')
    script(src='/script/js/jquery-1.11.0.min.js')
    script(src='/script/js/jquery-ui-1.10.4.custom.min.js')
    script(src='//use.edgefonts.net/pacifico.js')
  body
    block content
    