extends layout
	
block content
	h2 Open your Closet!
	
	form(id="registerForm" class="userForm")
		input(type="text" name="username" placeholder="Username" required)
		input(type="password" name="password" placeholder="Password" required)
		input(type="text" name="firstName" placeholder="First Name" required)
		input(type="text" name="lastName" placeholder="Last Name" required)
		input(type="email" name="email" placeholder="Email Address" required)
		button Register
		
	script(src="./script/register.js")