extends layout

block content
	h1 Open your Closet!
	
	form(id="registration")
		input(type="text" id="username" placeholder="Username")
		input(type="password" id="password" placeholder="Password")
		input(type="email" id="email" placeholder="Email Address")
		input(type="submit")