extends layout
block content
  header.col-xs-12.head(ng-controller='base')
    span.logo.col-xs-2
      img(src='images/logoAssets/cornerlogo.png')
    span.col-xs-4.pull-right
      #loginButtons.col-xs-6.pull-right
        button#fbLogin.custom-button.pull-right(ng-click='fbLogin()', ng-hide='loggedIn') Login to Facebook
        button#logout.custom-button.pull-right(ng-click='logout()', ng-show='loggedIn') Log out
      #loggedInData.col-xs-6.pull-right
        .group(ng-show='loggedIn')
          img.profile(ng-src='{{profilePicture}}')
          h4.col-xs-6.profile {{displayName}}
      
  nav.col-md-2.col-sm-2.col-xs-12.nav
    ul.pages
      li#here
        a(href='#/') What's New
      li 
        a(href='#/marketplace') Marketplace
      li
        a People
      li 
        a My Gear

  //- ng-view
  .col-md-7.col-sm-8.mainfeed(ng-controller='activityFeed')
    #tabs
      ul.nav.nav-tabs#posttabs
        li.active
          a(href='#write').fa.fa-edit | Share a story
        li
          a(href='#pic').fa.fa-camera | Upload photo/video
      .tab-content
        #write.tab-pane.active
          form.col-md-10.col-sm-12.col-xs-12(ng-submit='publishActivity()', ng-show='loggedIn')
            textarea.col-xs-12(ng-model='activityForm.message', placeholder="What's your new adventure?")
            input.custom-button.col-xs-12(type='submit', value='Post')
        #pic.tab-pane
          form.col-md-10.col-sm-12.col-xs-12(ng-submit='publishActivity()', ng-show='loggedIn')
            textarea.col-xs-12(ng-model='activityForm.message', placeholder="Choose photo/video")
            input.custom-button.col-xs-12(type='submit', value='Post')

    .message-preview.col-md-10.col-sm-12(ng-show='!!activityForm.message')
      img.profilefeed.col-xs-2(ng-src='{{profilePictureM}}', style='max-width: 80px')
      .col-xs-10 {{displayName}}
        small &nbsp;&nbsp;says
        p.col-xs-12(style='margin-top: 5px; border: 1px solid rgba(0,0,0,0.2); padding: 5px; border-radius: 2px;') {{activityForm.message}}
        
    //- hr.col-xs-6.col-xs-offset-1(style='margin-top: 20px;')
    
    p.col-xs-12.text-center.text-warning {{flashMessage}}
    
    .activityFeed.col-md-10.col-sm-12.col-xs-12(ng-repeat='post in feed | orderBy:timestamp', ng-show='{{!!feed.length}}')
      .message.col-xs-12
        img.profilefeed.col-xs-2(ng-src='{{post.profilePictureM}}', style='max-width: 80px')
        .col-xs-10 {{post.displayName}}
          small &nbsp;&nbsp; says
          p.pull-right {{Date(post.timestamp).toLocaleDateString()}}
          .col-xs-12(style='margin-top: 5px; border: 1px solid rgba(0,0,0,0.2); padding: 5px; border-radius: 2px;') {{post.textContent}}

