doctype html
html(ng-app='outrovert')
  head
    include top
  body(ng-controller='base')
    header.col-xs-12.head
      span.logo.col-xs-2
        a(href='/')
          img(src='images/logoAssets/cornerlogo.png', ng-show="loggedIn")
      span.col-xs-4.pull-right
        #loginButtons.col-xs-6.pull-right
          button#logout.custom-button.pull-right(ng-click='logout()', ng-show='loggedIn') Log out
        #loggedInData.col-xs-6.pull-right
          .group(ng-show='loggedIn')
            img.profile(ng-src='{{user.profilePicture}}')
            h4.col-xs-6.profile {{user.displayName}}

    .login.col-xs-6.col-xs-offset-3(ng-hide='loggedIn')
      a(href='/')
        img.img-responsive.col-xs-12(src='/landing-assets/img/new_logo.png', style='margin: 50px 0')
      button#fbLogin.custom-button.col-xs-6.col-xs-offset-3(ng-click='fbLogin()', ng-hide='loggedIn') Login with Facebook
    
  //[if lte IE 10]-->
    <p class="browsehappy text-center col-xs-12">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> before using Outrovert in order to get the most out of your experience. (We do not support your browser.)</p>
    <input type="hidden" ng-init="loggedIn = false">
  //<![endif]

    //nav.col-md-2.col-sm-2.col-xs-12.nav(ng-show='loggedIn')
      ul.pages
        li#here
          a(href='#/') What's New
        li 
          a(href='#/marketplace') Marketplace
        li
          a(href='#/mygear') My Gear


    ng-view(ng-show='loggedIn')
    
    include lazy-scripts

