extends layout

block content  

  header.col-xs-12(ng-controller='base')
    #loggedInData.col-xs-7
      .group(ng-show='loggedIn')
        img.profile.pull-left(ng-src='{{profilePicture}}')
        h4.col-xs-6.pull-left {{displayName}}
      span.col-xs-3.centeredLogo.pull-right.text-center Outrovert
    
    #loginButtons.col-xs-5
      button#fbLogin.custom-button.pull-right(ng-click='fbLogin()', ng-hide='loggedIn') Login to Facebook
      button#logout.custom-button.pull-right(ng-click='logout()', ng-show='loggedIn') Log out
      
  nav.col-md-2.col-sm-1.col-xs-12
    ul
      li 
        a(href='#/')
          strong Activity Feed
      li 
        a(href='#/marketplace') Marketplace
      li 
        a(href='#/mygear') My Gear

  ng-view
