extends layout
block content
  header.col-xs-12.head(ng-controller='base')
    span.logo.col-xs-2
      img(src='images/logoAssets/cornerlogo.png')
    span.col-xs-4.pull-right
      #loginButtons.col-xs-6.pull-right
        button#fbLogin.custom-button.pull-right(ng-click='fbLogin()', ng-hide='loggedIn') Login to Facebook
        button#logout.custom-button.pull-right(ng-click='logout()', ng-show='loggedIn') Log out
      #loggedInData.col-xs-6.pull-right
        .group(ng-show='loggedIn')
          img.profile(ng-src='{{profilePicture}}')
          h4.col-xs-6.profile {{displayName}}
      
  nav.col-md-2.col-sm-2.col-xs-12.nav
    ul.pages
      li#here
        a(href='#/') What's New
      li 
        a(href='#/marketplace') Marketplace
      li 
        a(href='#/mygear') My Gear\

  ng-view

