extends layout

block content
  include top
  
  
  .main(ng-app='outrovert' ng-controller='activityFeed')
    button#fbLogin(ng-click='fbLogin()', ng-hide='loggedIn') Login to Facebook
    button#logout(ng-click='logout()', ng-show='loggedIn') Log out

    input(type='text', ng-model='userMessage')
  
  
  script.
    //firebase session script
    var firebase = new Firebase('https://sweltering-fire-110.firebaseio.com');
    
    var fbLogin = $('#fbLogin');
    var logout = $('#logout');
    var userHeader = $('#loggedInData');
    //var auth = new FirebaseSimpleLogin(firebase, onAuthenticated);
    
    //fbLogin.click(function() {
    //  auth.login('facebook', {
    //    rememberMe: true,
    //    scope: 'email, publish_actions'
    //  });
    //});
    
    //logout.click(function() {
    //  auth.logout();
    //  fbLogin.show();
    //  logout.hide();
    //  userHeader.hide();
    //  firebase.unauth();
    //});
    
    window.onunload = function() { firebase.unauth(); }
    
    var onAuthenticated = function(error, user) {
      if(error) console.log(error);
      else {
        if(user) {
          manageSession(user);
          
          if(user.provider === 'facebook') {
            //user.accessToken
            userHeader.find('h3').text(user.displayName);
            userHeader.find('img.profile').attr('src', 'http://graph.facebook.com/'+user.id+'/picture?type=small');
            userHeader.removeClass('hide').show();
            fbLogin.hide();
            logout.removeClass('hide').show();
          }
        }
      }
    }
    
    var manageSession = function(user) {
      var userData = firebase.child('users/' + user.uid);
      userData.on('value', function(snapshot) {
        if(snapshot.val() === null) {
          //user doesn't exist
          //add new user to database
          userData.set({displayName: user.displayName});
        }
      });

      var userConnections = userData.child('connections');
      var lastOnline = userData.child('lastOnline');

      var authenticated = firebase.child('.info/authenticated');
      var con;
      authenticated.on('value', function(snap) {
        if (snap.val() === true) {
          var UA = navigator.userAgent;
          var time = Firebase.ServerValue.TIMESTAMP;
          if(!con) con = userConnections.push({agent: UA, timestamp: time});
        }
        if (snap.val() === false) {
          if(con) {
            con.remove();
          }
          lastOnline.set(Firebase.ServerValue.TIMESTAMP);
        }
        console.log(con);
      });
    }
  //import angular stuff after this script
  script(src='/script/angular/outrovert.js')
