/* line 6, sass/base.sass */
body {
  *zoom: 1;
  max-width: 100%;
  _width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  margin: 0;
  background: #e6e6e6;
}
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, sass/base.sass */
body header {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 10%;
}
/* line 19, sass/base.sass */
body nav {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 90%;
}
/* line 23, sass/base.sass */
body main {
  margin-left: 16.94915%;
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
