/* line 3, ../../SASS/formElements.sass */
.form--vertically-centered {
  display: table-cell;
  vertical-align: middle;
}

/* line 7, ../../SASS/formElements.sass */
input, button, textarea {
  margin: 15px 0;
}
/* line 9, ../../SASS/formElements.sass */
input:focus, button:focus, textarea:focus {
  outline: none;
}

/* line 12, ../../SASS/formElements.sass */
input {
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  margin: 10px auto 50px auto;
  padding: 5px 15px;
  display: block;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(20, 20, 100, 0.2);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(20, 20, 100, 0.2);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(20, 20, 100, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-width: thin;
}
/* line 31, ../../SASS/formElements.sass */
input:focus {
  outline: none;
  background-color: white;
}

/* line 37, ../../SASS/formElements.sass */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.55);
}

/* line 40, ../../SASS/formElements.sass */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.55);
}

/* line 43, ../../SASS/formElements.sass */
input[type="button"], .button, .button--3d {
  display: block;
  margin: 1% auto;
  padding: 10px 2%;
  position: relative;
  top: 0;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  border: 1px solid rgba(103, 147, 232, 0.5);
  border-bottom: 1px solid #1670a0;
  border-top: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #59a8e5), color-stop(97%, #1d86c6), color-stop(100%, #7ab3ff));
  background: -webkit-linear-gradient(#59a8e5 0%, #1d86c6 97%, #7ab3ff 100%);
  background: -moz-linear-gradient(#59a8e5 0%, #1d86c6 97%, #7ab3ff 100%);
  background: -o-linear-gradient(#59a8e5 0%, #1d86c6 97%, #7ab3ff 100%);
  background: linear-gradient(#59a8e5 0%, #1d86c6 97%, #7ab3ff 100%);
}

/* line 62, ../../SASS/formElements.sass */
.button--3d {
  -webkit-box-shadow: inset 1px 1px rgba(20, 20, 100, 0.55), inset -1px -1px rgba(20, 20, 100, 0.55), 0px 10px #1374a8, 0px 15px 12px -3px black;
  -moz-box-shadow: inset 1px 1px rgba(20, 20, 100, 0.55), inset -1px -1px rgba(20, 20, 100, 0.55), 0px 10px #1374a8, 0px 15px 12px -3px black;
  box-shadow: inset 1px 1px rgba(20, 20, 100, 0.55), inset -1px -1px rgba(20, 20, 100, 0.55), 0px 10px #1374a8, 0px 15px 12px -3px black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 71, ../../SASS/formElements.sass */
.button--3d:hover {
  -webkit-box-shadow: inset 1px 1px rgba(20, 20, 100, 0.55), inset -1px -1px rgba(20, 20, 100, 0.55), 0px 13px #0e6491, 0px 15px 12px -3px black;
  -moz-box-shadow: inset 1px 1px rgba(20, 20, 100, 0.55), inset -1px -1px rgba(20, 20, 100, 0.55), 0px 13px #0e6491, 0px 15px 12px -3px black;
  box-shadow: inset 1px 1px rgba(20, 20, 100, 0.55), inset -1px -1px rgba(20, 20, 100, 0.55), 0px 13px #0e6491, 0px 15px 12px -3px black;
  top: -3px;
}
/* line 75, ../../SASS/formElements.sass */
.button--3d:active {
  -webkit-box-shadow: inset 1px 1px rgba(20, 20, 100, 0.55), inset -1px -1px rgba(20, 20, 100, 0.55), 0px 0px #10618d;
  -moz-box-shadow: inset 1px 1px rgba(20, 20, 100, 0.55), inset -1px -1px rgba(20, 20, 100, 0.55), 0px 0px #10618d;
  box-shadow: inset 1px 1px rgba(20, 20, 100, 0.55), inset -1px -1px rgba(20, 20, 100, 0.55), 0px 0px #10618d;
  top: 10px;
}

/* line 3, ../../SASS/item.sass */
.item {
  width: 24.24242%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
  max-width: 250px;
  min-width: 185px;
  margin: 10px 30px;
  height: 515px;
}

/* line 10, ../../SASS/item.sass */
.item__main {
  width: 100%;
}

/* line 13, ../../SASS/item.sass */
.item__mark-button, .item__mark-button--marked {
  float: right;
}

/* line 19, ../../SASS/item.sass */
img.item__prod-img {
  width: 100%;
  height: 100%;
}

/* line 23, ../../SASS/item.sass */
.item__name {
  font-size: 120%;
}

/* line 26, ../../SASS/item.sass */
.item__desc {
  font-size: 80%;
}

/* line 10, ../../SASS/base.sass */
h1, h2 {
  font-family: pacifico, "Lucida Grande", "Lucida Sans", "helvetica neue", helvetica, sans-serif;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  color: #5cafff;
  text-shadow: -6px 4px white, 2px 1px 7px black;
}

/* line 16, ../../SASS/base.sass */
h1 {
  font-size: 4em;
}

/* line 19, ../../SASS/base.sass */
h2 {
  font-size: 3.5em;
  margin: 1% 0;
}

/* line 23, ../../SASS/base.sass */
p {
  text-align: center;
  margin: 0.7em auto;
  width: auto;
}
/* line 27, ../../SASS/base.sass */
p.heavyShadow {
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.8);
}

/* line 30, ../../SASS/base.sass */
a {
  color: #00b7ff;
}

/* line 33, ../../SASS/base.sass */
.heart-empty {
  position: relative;
  width: 40px;
  height: 35px;
  -webkit-box-shadow: 0, 0, 1px, rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0, 0, 1px, rgba(0, 0, 0, 0.5);
  box-shadow: 0, 0, 1px, rgba(0, 0, 0, 0.5);
}
/* line 16, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-recipes-0.3.0/stylesheets/recipes/shape/symbol/_heart.scss */
.heart-empty:before, .heart-empty:after {
  position: absolute;
  content: "";
  top: 0;
  width: 20px;
  height: 35px;
  background: transparent;
  -webkit-border-radius: 17.5px 17.5px 0 0;
  -moz-border-radius: 17.5px 17.5px 0 0;
  -ms-border-radius: 17.5px 17.5px 0 0;
  -o-border-radius: 17.5px 17.5px 0 0;
  border-radius: 17.5px 17.5px 0 0;
}
/* line 27, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-recipes-0.3.0/stylesheets/recipes/shape/symbol/_heart.scss */
.heart-empty:before {
  left: 20px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
/* line 34, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-recipes-0.3.0/stylesheets/recipes/shape/symbol/_heart.scss */
.heart-empty:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* line 38, ../../SASS/base.sass */
.heart-full {
  position: relative;
  width: 40px;
  height: 35px;
}
/* line 16, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-recipes-0.3.0/stylesheets/recipes/shape/symbol/_heart.scss */
.heart-full:before, .heart-full:after {
  position: absolute;
  content: "";
  top: 0;
  width: 20px;
  height: 35px;
  background: #fa6464;
  -webkit-border-radius: 17.5px 17.5px 0 0;
  -moz-border-radius: 17.5px 17.5px 0 0;
  -ms-border-radius: 17.5px 17.5px 0 0;
  -o-border-radius: 17.5px 17.5px 0 0;
  border-radius: 17.5px 17.5px 0 0;
}
/* line 27, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-recipes-0.3.0/stylesheets/recipes/shape/symbol/_heart.scss */
.heart-full:before {
  left: 20px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
/* line 34, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-recipes-0.3.0/stylesheets/recipes/shape/symbol/_heart.scss */
.heart-full:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* line 41, ../../SASS/base.sass */
html, body {
  height: 100%;
}

/* line 44, ../../SASS/base.sass */
body {
  *zoom: 1;
  max-width: 100%;
  _width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background: #fbfbfb;
}
/* line 38, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "";
  display: table;
  clear: both;
}
/* line 54, ../../SASS/base.sass */
body header {
  width: 100%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
  height: 60px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background: white;
}
/* line 61, ../../SASS/base.sass */
body header img.profile {
  width: 50px;
  margin-left: 50px;
  border-style: solid;
  border-width: 4px;
  border-color: white;
}
/* line 68, ../../SASS/base.sass */
body header h3 {
  position: absolute;
  top: 0;
  left: 108px;
  color: #333333;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  padding: 0 5px;
  text-decoration: none;
}
/* line 79, ../../SASS/base.sass */
body header span.centeredLogo {
  font-family: pacifico, "Lucida Grande", "Lucida Sans", "helvetica neue", helvetica, sans-serif;
  color: #5cafff;
  text-shadow: -3px 2px white;
  font-size: 1.9em;
  display: inline-block;
  width: auto;
  position: absolute;
  left: 47%;
  top: 0;
}
/* line 90, ../../SASS/base.sass */
body header input[type="search"] {
  display: inline-block;
  float: right;
  width: 15%;
  margin: 17px 0;
}
/* line 96, ../../SASS/base.sass */
body header button.searchButton {
  display: inline-block;
  float: right;
  margin: 14px 30px 0 10px;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  font-size: 1em;
  border: 1px solid rgba(103, 147, 232, 0.5);
  border-bottom: 1px solid #1670a0;
  border-top: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #59a8e5), color-stop(97%, #1d86c6), color-stop(100%, #7ab3ff));
  background: -webkit-linear-gradient(#59a8e5 0%, #1d86c6 97%, #7ab3ff 100%);
  background: -moz-linear-gradient(#59a8e5 0%, #1d86c6 97%, #7ab3ff 100%);
  background: -o-linear-gradient(#59a8e5 0%, #1d86c6 97%, #7ab3ff 100%);
  background: linear-gradient(#59a8e5 0%, #1d86c6 97%, #7ab3ff 100%);
}
/* line 108, ../../SASS/base.sass */
body nav {
  width: 14.14141%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
  padding-left: 2.0202%;
  padding-right: 0%;
  max-width: 275px;
}
/* line 113, ../../SASS/base.sass */
body nav h3 {
  font-size: 14pt;
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 15px;
  cursor: pointer;
}
/* line 122, ../../SASS/base.sass */
body nav ul {
  margin: 0;
  padding: 0;
}
/* line 125, ../../SASS/base.sass */
body nav ul li {
  list-style: none;
}
/* line 128, ../../SASS/base.sass */
body nav #my-hobbies {
  background: #7594cf;
}
/* line 131, ../../SASS/base.sass */
body nav #my-closet {
  background: #4db2d4;
}
/* line 134, ../../SASS/base.sass */
body nav #explore {
  background: #3333ff;
}
/* line 137, ../../SASS/base.sass */
body nav #hobbies {
  background: #fafafa;
}
/* line 139, ../../SASS/base.sass */
body nav #hobbies ul {
  padding: 20px 0 40px 15px;
}
/* line 141, ../../SASS/base.sass */
body nav #hobbies ul li {
  padding: 5px 0;
}
/* line 143, ../../SASS/base.sass */
body nav #hobbies ul li a {
  list-style: none;
  text-decoration: none;
  font-size: 12pt;
  color: #999999;
  padding: 4px 5px;
  cursor: pointer;
}
/* line 150, ../../SASS/base.sass */
body nav #hobbies ul li a:hover {
  color: #555555;
}
/* line 153, ../../SASS/base.sass */
body .main {
  width: 74.74747%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
  padding-left: 1.0101%;
  padding-right: 1.0101%;
  padding-top: 1em;
  padding-bottom: 1em;
  background: white;
  -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
/* line 162, ../../SASS/base.sass */
body .main .feed-profile-picture {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 2%;
}
