/* line 3, ../../sass/base.scss */
html, body {
  height: 100%;
  margin: 0;
}

/* line 8, ../../sass/base.scss */
input:focus {
  outline-style: auto;
  outline-width: 3px;
  outline-color: #8CCF4B;
}

/* line 15, ../../sass/base.scss */
body .custom-button {
  display: block;
  color: white;
  text-align: center;
  background: #8CCF4B;
  font-size: 1.8em;
  padding: 3px 0;
  border: none;
  border-radius: 3px;
}
/* line 27, ../../sass/base.scss */
body .custom-button:hover {
  background-color: #BAE293;
  cursor: pointer;
}
/* line 32, ../../sass/base.scss */
body .custom-button.inactive {
  background: #66a22b;
}
/* line 36, ../../sass/base.scss */
body header {
  height: 60px;
  padding: 15px 0;
  margin-bottom: 20px;
  background: #fff;
}
/* line 44, ../../sass/base.scss */
body form label {
  text-transform: uppercase;
  color: #8CCF4B;
}
