.page {
	background: #fff;
	margin: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #444;
	height: 175%;
}

.header {
	background: #f2f2f2;
	height: 80px;
	border-bottom-style: double;
}

.body {
	height: 175%;
	background: #fff;
	padding: 1% 2%;
}

.sidebar {
	width: 180px;
	border-style: none;
}

.sidebar input {
	font-size: 14px;
	width: 180px;
	margin: 5px 0;
}

.sidebar h3 {
	font-size: 14pt;
	color: #fff;
	font-family: sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 14px 20px;
}

#my-hobby {
	height: 50px;
	border-style: none;
	background: #ff3333;
}

#hobbies {
	height: 140px;
	border-style: none;
	background: #F1F4FA;
}

#hobbies ul {
	margin: 0;
	padding: 5px 10px;
}

#hobbies li {
	list-style: none;
	font-size: 12pt;
	text-indent: 5px;
	color: #999;
	padding: 4px 5px;
}

#my-closet {
	height: 50px;
	border-style: none;
	background: #ff9019;
}

#explore {
	height: 50px;
	border-style: none;
	background: #ffbb20;
}

.item-boxes {
	position: relative;
	top: -316px;
	left: 185px;
	width: 83%;
	height: 100%;
	border-style: none;
}

.item-box {
	float: left;
	border-style: outset;
	border-width: 2px;
	border-color: #ccc;
	background: #f2f2f2;
	margin: 5px 5px;
	height: 500px;
	width: 300px;
}
