/* line 1, ../../sass/formElements.scss */
.custom-button {
  display: block;
  height: 100%;
  text-align: center;
  color: white;
  background: #8CCF4B;
  font-size: 1.5em;
  border: none;
}
/* line 14, ../../sass/formElements.scss */
.custom-button.inactive {
  background: #66a22b;
}
