/* line 3, ../../sass/hobby.sass */
.main {
  background: #f6f6f6;
}

/* line 6, ../../sass/hobby.sass */
.title {
  position: relative;
}

/* line 9, ../../sass/hobby.sass */
.title h3.hobbyTitle {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  height: 98.5%;
  width: 25%;
  text-transform: uppercase;
  font-size: 2.5em;
  text-shadow: none;
  line-height: 4em;
  text-align: center;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
}

/* line 25, ../../sass/hobby.sass */
.cover-photo {
  width: 100%;
}

/* line 28, ../../sass/hobby.sass */
.ui-tabs-nav {
  background-color: white !important;
  height: 1.95em;
}

/* line 32, ../../sass/hobby.sass */
.ui-widget-header {
  background: #f6f6f6;
  border: none;
  padding: 0;
}

/* line 37, ../../sass/hobby.sass */
.ui-corner-all {
  border-radius: 0;
}

/* line 40, ../../sass/hobby.sass */
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0.7em 2.5em 0.4em 2.5em;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  width: 60%;
  color: black;
  font-weight: normal;
}

/* line 48, ../../sass/hobby.sass */
.ui-tabs .ui-tabs-nav li {
  left: -3px;
  border-style: solid;
  border-width: 1px;
  border-color: #888888;
  border-bottom-width: 0;
  background: #eeeeee;
  margin: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.3);
}

/* line 59, ../../sass/hobby.sass */
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: white;
}

/* line 62, ../../sass/hobby.sass */
.ui-widget-content {
  background: white;
  border: none;
}

/* line 66, ../../sass/hobby.sass */
.ui-tabs .ui-tabs-panel {
  border-style: solid;
  border-width: 1px;
  border-color: #888888;
  padding: 0 0;
}

/* line 72, ../../sass/hobby.sass */
.feed-profile-picture {
  position: absolute;
  width: 5%;
  top: 20px;
  margin: 0;
}

/* line 78, ../../sass/hobby.sass */
h4.name {
  position: absolute;
  color: #007aa3;
  top: 0px;
  left: 120px;
}

/* line 84, ../../sass/hobby.sass */
.newItemPost, .userPost {
  position: relative;
  padding: 1em 1.4em;
}

/* line 88, ../../sass/hobby.sass */
.newItemPost p {
  font-size: 12pt;
  position: absolute;
  top: 19px;
  left: 240px;
  color: #cccccc;
}

/* line 95, ../../sass/hobby.sass */
.newItem {
  margin: 45px 0 0 95px;
  width: 50%;
  position: relative;
  border: 1px solid #333333;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* line 102, ../../sass/hobby.sass */
.newItem img {
  width: 100%;
}

/* line 105, ../../sass/hobby.sass */
.newItem h3.rating {
  margin: 3px 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 109, ../../sass/hobby.sass */
.newItemPost .newItem p {
  top: 313px;
  left: 94px;
}

/* line 113, ../../sass/hobby.sass */
.newItem h4.buy {
  position: absolute;
  top: 74%;
  right: 0;
  padding: 1.6% 6%;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: #007aa3;
}

/* line 122, ../../sass/hobby.sass */
.postContent {
  margin: 45px 0 0 95px;
  width: 50%;
  position: relative;
}

/* line 127, ../../sass/hobby.sass */
.postContent img {
  width: 100%;
}

/* line 130, ../../sass/hobby.sass */
.postContent p {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: normal;
  position: relative;
  text-align: left;
}

/* line 136, ../../sass/hobby.sass */
.postContent h5.comments {
  margin: 10px 0 15px 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: #cccccc;
}

/* line 142, ../../sass/hobby.sass */
#hobbyists {
  position: absolute;
  top: 52px;
  right: 80px;
  width: 28%;
}

/* line 148, ../../sass/hobby.sass */
#hobbyists h4 {
  color: #007aa3;
  margin-bottom: 2%;
  margin-top: 7%;
}

/* line 153, ../../sass/hobby.sass */
#hobbyists img {
  position: relative;
  margin: 10px;
  width: 80px;
  height: 80px;
}
