header {
	background: #f2f2f2;
	height: 80px;
}

.sidebar {
	width: 180px;
}

.sidebar input[type="search"] {
	font-size: 14px;
	width: 180px;
	margin: 5px 0;
}

.sidebar h3 {
	font-size: 14pt;
	color: #fff;
	font-family: sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 14px 20px;
}

#my-hobby {
	height: 50px;
	background: #ff3333;
}

#hobbies {
	height: 140px;
	background: #F1F4FA;
}

#hobbies ul {
	margin: 0;
	padding: 5px 10px;
}

#hobbies li {
	list-style: none;
	font-size: 12pt;
	text-indent: 5px;
	color: #999;
	padding: 4px 5px;
}

#my-closet {
	height: 50px;
	background: #ff9019;
}

#explore {
	height: 50px;
	border-style: none;
	background: #ffbb20;
}

.stories {
	
}
