/* line 5, ../../SASS/hobby.sass */
.main .title {
  height: 11em;
  background-size: contain;
}
/* line 9, ../../SASS/hobby.sass */
.main .title h3.hobbyTitle {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  height: 5.5em;
  line-height: 5.5em;
  width: 30%;
  text-transform: uppercase;
  font-size: 2em;
  text-shadow: none;
  text-align: center;
  position: absolute;
  margin: 0;
  top: 20px;
  left: 10px;
}
/* line 25, ../../SASS/hobby.sass */
.main .title .cover-photo {
  width: 100%;
}
/* line 28, ../../SASS/hobby.sass */
.main a {
  text-decoration: none;
  color: inherit;
}
/* line 32, ../../SASS/hobby.sass */
.main .ui-widget-header {
  background: #f6f6f6;
  border: none;
  padding: 0;
}
/* line 37, ../../SASS/hobby.sass */
.main .ui-corner-all {
  border-radius: 0;
}
/* line 40, ../../SASS/hobby.sass */
.main .ui-tabs .ui-tabs-panel {
  border-style: solid;
  border-width: 1px;
  border-color: #bbbbbb;
  padding: 0;
}
/* line 46, ../../SASS/hobby.sass */
.main .ui-tabs-nav {
  background-color: white !important;
  height: 1.95em;
}
/* line 50, ../../SASS/hobby.sass */
.main .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: white;
}
/* line 53, ../../SASS/hobby.sass */
.main .ui-tabs-nav .ui-tabs-anchor {
  padding: 0.7em 2.5em 0.4em 2.5em;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  width: 60%;
  color: black;
  font-weight: normal;
}
/* line 61, ../../SASS/hobby.sass */
.main .ui-tabs .ui-tabs-nav li {
  border-style: solid;
  border-width: 1px;
  border-color: #bbbbbb;
  border-bottom-width: 0;
  background: #eeeeee;
  margin: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px -1px 1px rgba(0, 0, 0, 0.1);
}
/* line 71, ../../SASS/hobby.sass */
.main .ui-widget-content {
  background: white;
  border: none;
}
/* line 75, ../../SASS/hobby.sass */
.main .newItemPost, .main .generalPost {
  width: 62%;
  height: 20em;
  position: relative;
  margin: 1em 1.4em;
}
/* line 81, ../../SASS/hobby.sass */
.main .newItemPost .feed-profile-picture, .main .generalPost .feed-profile-picture {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 2%;
}
/* line 88, ../../SASS/hobby.sass */
.main .newItemPost h4.name, .main .generalPost h4.name {
  display: inline-block;
  position: relative;
  color: #007aa3;
  top: -65px;
  margin: 0;
  text-decoration: none;
}
/* line 96, ../../SASS/hobby.sass */
.main .newItemPost h4.name a, .main .generalPost h4.name a {
  text-decoration: none;
  color: inherit;
}
/* line 100, ../../SASS/hobby.sass */
.main .newItemPost h4.name a:hover, .main .generalPost h4.name a:hover {
  text-decoration: underline;
}
/* line 103, ../../SASS/hobby.sass */
.main .newItemPost p, .main .generalPost p {
  display: inline-block;
  position: relative;
  top: -65px;
  font-size: 12pt;
  color: #6c6c6c;
  margin-left: 1%;
}
/* line 111, ../../SASS/hobby.sass */
.main .newItemPost .newItem, .main .generalPost .newItem {
  margin: 0 0 0 7%;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 90%;
  position: relative;
  top: -4em;
  left: 3em;
}
/* line 120, ../../SASS/hobby.sass */
.main .newItemPost .newItem img, .main .generalPost .newItem img {
  height: 90%;
  margin: 0 auto;
  position: relative;
  display: block;
}
/* line 126, ../../SASS/hobby.sass */
.main .newItemPost .newItem h3.rating, .main .generalPost .newItem h3.rating {
  position: relative;
  display: inline-block;
  margin: 0 2%;
  top: -0.5%;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* line 133, ../../SASS/hobby.sass */
.main .newItemPost .newItem p, .main .generalPost .newItem p {
  position: relative;
  display: inline-block;
  top: -0.4%;
  margin: 0;
}
/* line 139, ../../SASS/hobby.sass */
.main .newItemPost .newItem h4.buy, .main .generalPost .newItem h4.buy {
  position: relative;
  display: inline-block;
  margin: 0;
  float: right;
  padding: 0.9% 6%;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: #007aa3;
}
/* line 149, ../../SASS/hobby.sass */
.main .newItemPost .newItem h4.buy a, .main .generalPost .newItem h4.buy a {
  text-decoration: none;
  color: inherit;
}
/* line 153, ../../SASS/hobby.sass */
.main .newItemPost .newItem h4.buy:hover, .main .generalPost .newItem h4.buy:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 157, ../../SASS/hobby.sass */
.main .newItemPost .general, .main .generalPost .general {
  margin: 3.5% 0 0 7%;
  width: 70%;
  height: 90%;
  position: relative;
  top: -5em;
  left: 3em;
}
/* line 165, ../../SASS/hobby.sass */
.main .newItemPost .general img, .main .generalPost .general img {
  width: 100%;
  display: block;
}
/* line 169, ../../SASS/hobby.sass */
.main .newItemPost .general p, .main .generalPost .general p {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: normal;
  position: relative;
  text-align: left;
  color: #222222;
  top: 0;
}
/* line 177, ../../SASS/hobby.sass */
.main .newItemPost .general h5.comments, .main .generalPost .general h5.comments {
  margin: 10px 0 15px 0;
  position: relative;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: #cccccc;
}
/* line 184, ../../SASS/hobby.sass */
.main .newItemPost .general h5.comments a, .main .generalPost .general h5.comments a {
  text-decoration: none;
  margin: 0 5px;
  color: inherit;
}
/* line 189, ../../SASS/hobby.sass */
.main .newItemPost .general h5.comments a:hover, .main .generalPost .general h5.comments a:hover {
  color: #007aa3;
  text-decoration: underline;
}
/* line 193, ../../SASS/hobby.sass */
.main #hobbyists {
  position: absolute;
  top: 2.45em;
  right: 5em;
  width: 20%;
}
/* line 199, ../../SASS/hobby.sass */
.main #hobbyists h4 {
  color: #007aa3;
  margin-bottom: 2%;
  margin-top: 7%;
}
/* line 204, ../../SASS/hobby.sass */
.main #hobbyists img {
  position: relative;
  display: inline-block;
  float: left;
  margin: 3px;
  width: 60px;
  height: 60px;
}
/* line 212, ../../SASS/hobby.sass */
.main #category, .main #type {
  width: 50%;
  position: relative;
  display: inline-block;
  margin: 0;
  border-bottom: 1px solid #333333;
}
/* line 219, ../../SASS/hobby.sass */
.main #category h3, .main #type h3 {
  position: relative;
  display: inline-block;
  margin: 2% 3% 2% 20%;
  font-weight: normal;
  color: #007aa3;
  text-transform: uppercase;
}
/* line 227, ../../SASS/hobby.sass */
.main #category input {
  display: inline-block;
  width: 40%;
  margin: 0;
}
/* line 232, ../../SASS/hobby.sass */
.main #type button {
  border: 2px solid #007aa3;
  margin: 5px 25px;
  padding: 5px 50px;
  background: white;
  text-transform: uppercase;
}
/* line 239, ../../SASS/hobby.sass */
.main #type button:hover {
  background: #ffd685;
  cursor: pointer;
}
/* line 243, ../../SASS/hobby.sass */
.main #items {
  padding-left: 1.75%;
}
/* line 246, ../../SASS/hobby.sass */
.main #items .forSale, .main #items .forRent {
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
  width: 31.2%;
  margin: 10px;
}
/* line 253, ../../SASS/hobby.sass */
.main #items .forSale img.productImage, .main #items .forRent img.productImage {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 275px;
}
/* line 259, ../../SASS/hobby.sass */
.main #items .forSale img.feed-profile-picture, .main #items .forRent img.feed-profile-picture {
  position: relative;
  display: inline-block;
  margin: 3px;
  width: 60px;
  height: 60px;
}
/* line 266, ../../SASS/hobby.sass */
.main #items .forSale .info, .main #items .forRent .info {
  position: relative;
  display: inline-block;
  top: -4px;
  width: 50%;
}
/* line 272, ../../SASS/hobby.sass */
.main #items .forSale .info h4, .main #items .forRent .info h4 {
  margin: 0 2%;
  top: -0.5%;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* line 277, ../../SASS/hobby.sass */
.main #items .forSale .info h4 a, .main #items .forRent .info h4 a {
  text-decoration: none;
  color: inherit;
}
/* line 281, ../../SASS/hobby.sass */
.main #items .forSale .info h4 a:hover, .main #items .forRent .info h4 a:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 285, ../../SASS/hobby.sass */
.main #items .forSale .info p, .main #items .forRent .info p {
  font-size: 12pt;
  color: #cccccc;
  margin: 1%;
  margin-left: 2%;
  text-align: left;
  top: 0;
}
/* line 293, ../../SASS/hobby.sass */
.main #items .forSale .buy, .main #items .forSale .rent, .main #items .forRent .buy, .main #items .forRent .rent {
  position: relative;
  display: inline-block;
  width: 30%;
  float: right;
  top: -1px;
  right: 4px;
}
/* line 301, ../../SASS/hobby.sass */
.main #items .forSale .buy h4, .main #items .forSale .rent h4, .main #items .forRent .buy h4, .main #items .forRent .rent h4 {
  padding: 5px 0;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: #007aa3;
}
/* line 310, ../../SASS/hobby.sass */
.main #items .forSale .buy p, .main #items .forSale .rent p, .main #items .forRent .buy p, .main #items .forRent .rent p {
  text-transform: uppercase;
  margin: 0;
  padding: 5px 0;
  border: 2px solid #888888;
}
/* line 316, ../../SASS/hobby.sass */
.main #items .forSale .buy p a, .main #items .forSale .rent p a, .main #items .forRent .buy p a, .main #items .forRent .rent p a {
  text-decoration: none;
  color: inherit;
}
/* line 320, ../../SASS/hobby.sass */
.main #items .forSale .buy p:hover, .main #items .forSale .rent p:hover, .main #items .forRent .buy p:hover, .main #items .forRent .rent p:hover {
  background: #ffd685;
}

/* line 6, ../../SASS/itempage.sass */
.main .left {
  width: 60%;
  display: inline-block;
  margin-right: 4%;
}
/* line 11, ../../SASS/itempage.sass */
.main .left .headerInfo {
  width: 70%;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 18, ../../SASS/itempage.sass */
.main .left .headerInfo h3.itemName {
  position: relative;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0 10px;
}
/* line 24, ../../SASS/itempage.sass */
.main .left .headerInfo p.condition {
  text-align: left;
  position: relative;
  display: inline-block;
  margin: 4px 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #cccccc;
}
/* line 32, ../../SASS/itempage.sass */
.main .left .headerInfo p.location {
  text-align: left;
  position: relative;
  display: inline-block;
  margin: 4px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333333;
}
/* line 40, ../../SASS/itempage.sass */
.main .left .ratingInfo {
  width: 30%;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 46, ../../SASS/itempage.sass */
.main .left .ratingInfo h4 {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 5px 0;
  text-align: right;
}
/* line 51, ../../SASS/itempage.sass */
.main .left .ratingInfo p {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 5px 0;
  text-align: right;
  color: #cccccc;
}
/* line 58, ../../SASS/itempage.sass */
.main .left img.productImage {
  width: 100%;
  margin-bottom: 20px;
}
/* line 64, ../../SASS/itempage.sass */
.main .left #description .productDes, .main .left #description .productCond {
  padding: 0 20px;
}
/* line 67, ../../SASS/itempage.sass */
.main .left #description .productDes p.cat, .main .left #description .productCond p.cat {
  position: relative;
  display: inline-block;
  margin: 20px 0;
  width: 25%;
  vertical-align: top;
  text-align: left;
  font-weight: bold;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #33ccff;
}
/* line 78, ../../SASS/itempage.sass */
.main .left #description .productDes p.des, .main .left #description .productCond p.des {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 75%;
  text-align: left;
  font-weight: normal;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333333;
  margin: 20px 0;
}
/* line 89, ../../SASS/itempage.sass */
.main .right {
  width: 30%;
  position: relative;
  display: inline-block;
  float: right;
}
/* line 96, ../../SASS/itempage.sass */
.main .right .buy {
  width: 90%;
  float: center;
  background: #fafafa;
  border: 1px solid #bbbbbb;
}
/* line 102, ../../SASS/itempage.sass */
.main .right .buy h3.price {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #007aa3;
  font-size: 24pt;
}
/* line 110, ../../SASS/itempage.sass */
.main .right .buy h5.buyButton {
  display: block;
  padding: 3% 0%;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 16pt;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: #33ccff;
}
/* line 124, ../../SASS/itempage.sass */
.main .right img.standIn {
  margin: 10px 0;
  width: 90%;
  float: middle;
}
