/* line 3, SASS/landing.sass */
body.landing {
  background-image: url("../images/bodybgblur.jpg");
  background-size: 120%;
  background-position: 20% 20%;
  background-repeat: no-repeat;
  color: white;
}

/* line 10, SASS/landing.sass */
div.banner {
  background: rgba(0, 0, 0, 0.65);
  margin-left: 65.08475%;
  padding-left: 1.35593%;
  padding-right: 1.35593%;
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 100%;
  display: table;
}

/* line 18, SASS/landing.sass */
body.landing h1 {
  position: absolute;
  right: 25%;
  bottom: 55%;
}
