/* line 1, ../../SASS/marketplace.scss */
label.search, label.type, label.loc {
  text-transform: uppercase;
  color: #8CCF4B;
  display: inline-block;
  vertical-align: bottom;
}

/* line 8, ../../SASS/marketplace.scss */
input.search {
  margin-left: 28px;
}

/* line 12, ../../SASS/marketplace.scss */
button.type {
  margin: 0 0 0 28px;
  display: inline-block;
  font-size: 90%;
  text-transform: uppercase;
  background: #FFF;
  border: 2px solid #8CCF4B;
  text-shadow: none;
  color: #000;
}

/* line 23, ../../SASS/marketplace.scss */
p.loc {
  display: inline-block;
  margin-left: 28px;
}

/* line 28, ../../SASS/marketplace.scss */
a.loc {
  display: inline-block;
  color: #888;
  text-decoration: none;
  margin-left: 20px;
}

/* line 35, ../../SASS/marketplace.scss */
a.location:hover {
  color: #339933;
  cursor: pointer;
}
