/* line 1, ../../sass/marketplace.scss */
.search label, .type label, .location label {
  text-transform: uppercase;
  color: #8CCF4B;
  display: inline-block;
  vertical-align: bottom;
}

/* line 8, ../../sass/marketplace.scss */
.search input {
  margin-left: 28px;
}

/* line 12, ../../sass/marketplace.scss */
.search input:focus {
  outline-style: auto;
  outline-width: 3px;
  outline-color: #8CCF4B;
}

/* line 18, ../../sass/marketplace.scss */
.type button {
  margin: 5px 0 0 20px;
}

/* line 22, ../../sass/marketplace.scss */
.location p {
  display: inline-block;
  margin-left: 28px;
}

/* line 27, ../../sass/marketplace.scss */
.location a {
  display: inline-block;
  color: #888;
  text-decoration: none;
  margin-left: 20px;
}

/* line 34, ../../sass/marketplace.scss */
.location a:hover {
  color: #339933;
  cursor: pointer;
}

/* line 39, ../../sass/marketplace.scss */
a.add {
  font-size: 1.6em !important;
}

/* line 43, ../../sass/marketplace.scss */
.change {
  color: #003300;
}

/* line 47, ../../sass/marketplace.scss */
.change:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #003300;
}

/* line 53, ../../sass/marketplace.scss */
a.add:hover {
  text-decoration: none !important;
}

/* line 57, ../../sass/marketplace.scss */
.marketplace-item {
  background: #FFF;
  border: 10px solid #EEE;
  padding: 0 !important;
}
/* line 62, ../../sass/marketplace.scss */
.marketplace-item .bottom {
  padding: 0 !important;
}
/* line 66, ../../sass/marketplace.scss */
.marketplace-item .photo, .marketplace-item .description, .marketplace-item .cost, .marketplace-item .rent {
  padding: 0;
}
/* line 70, ../../sass/marketplace.scss */
.marketplace-item .description {
  margin-top: 1%;
}
/* line 74, ../../sass/marketplace.scss */
.marketplace-item img.profile {
  margin: 15% 0;
  width: 2.5em !important;
  height: 2.5em !important;
}
/* line 80, ../../sass/marketplace.scss */
.marketplace-item .transact {
  margin-bottom: 5%;
}
/* line 84, ../../sass/marketplace.scss */
.marketplace-item .buy {
  padding: 3px 15px;
  font-size: 1.2em !important;
}
/* line 89, ../../sass/marketplace.scss */
.marketplace-item .buy:hover {
  background-color: #BAE293;
}
