/* line 1, ../../sass/marketplace.scss */
.search label, .type label, .location label {
  text-transform: uppercase;
  color: #8CCF4B;
  display: inline-block;
  vertical-align: bottom;
}

/* line 8, ../../sass/marketplace.scss */
.search input {
  margin-left: 28px;
}

/* line 12, ../../sass/marketplace.scss */
.search input:focus {
  outline-style: auto;
  outline-width: 3px;
  outline-color: #8CCF4B;
}

/* line 18, ../../sass/marketplace.scss */
.type button {
  margin: 0 0 0 28px;
  display: inline-block;
  font-size: 90%;
  text-transform: uppercase;
  background: #FFF;
  border: 2px solid #8CCF4B;
  text-shadow: none;
  color: #000;
}

/* line 29, ../../sass/marketplace.scss */
.location p {
  display: inline-block;
  margin-left: 28px;
}

/* line 34, ../../sass/marketplace.scss */
.location a {
  display: inline-block;
  color: #888;
  text-decoration: none;
  margin-left: 20px;
}

/* line 41, ../../sass/marketplace.scss */
.location a:hover {
  color: #339933;
  cursor: pointer;
}

/* line 46, ../../sass/marketplace.scss */
.marketplace-item {
  background: #FFF;
  border: 10px solid #EEE;
  padding: 0 !important;
}
/* line 51, ../../sass/marketplace.scss */
.marketplace-item .bottom {
  padding: 0 !important;
}
/* line 55, ../../sass/marketplace.scss */
.marketplace-item img.photo, .marketplace-item .description, .marketplace-item .cost, .marketplace-item .rent {
  padding: 0;
}
/* line 59, ../../sass/marketplace.scss */
.marketplace-item img.photo {
  height: 15em !important;
}
/* line 63, ../../sass/marketplace.scss */
.marketplace-item .description {
  margin-top: 1%;
}
/* line 67, ../../sass/marketplace.scss */
.marketplace-item img.profile {
  margin: 15% 0;
  width: 2.5em !important;
  height: 2.5em !important;
}
/* line 73, ../../sass/marketplace.scss */
.marketplace-item .transact {
  margin-bottom: 5%;
}
/* line 77, ../../sass/marketplace.scss */
.marketplace-item .buy {
  padding: 3px 15px;
  font-size: 1.2em !important;
}
/* line 82, ../../sass/marketplace.scss */
.marketplace-item .buy:hover {
  background-color: #BAE293;
}
