/* line 1, ../../sass/mygear.scss */
.uploadform {
  background: #FFF;
  padding-top: 2%;
  border-radius: 15px;
}
/* line 7, ../../sass/mygear.scss */
.uploadform label {
  text-transform: uppercase;
  color: #8CCF4B;
  display: inline-block;
  vertical-align: bottom;
}
/* line 14, ../../sass/mygear.scss */
.uploadform p {
  display: inline-block;
}
/* line 18, ../../sass/mygear.scss */
.uploadform input:focus {
  outline-style: auto;
  outline-width: 3px;
  outline-color: #8CCF4B;
}
/* line 24, ../../sass/mygear.scss */
.uploadform .price {
  position: relative;
}
/* line 27, ../../sass/mygear.scss */
.uploadform .price span {
  position: absolute;
  padding: 0.5% 1%;
  pointer-events: none;
  z-index: 1;
}
/* line 35, ../../sass/mygear.scss */
.uploadform select {
  background: #FFF;
  border: 1px solid #8CCF4B;
}
/* line 40, ../../sass/mygear.scss */
.uploadform textarea {
  box-shadow: 0 1px 1px #dddddd inset;
}
/* line 44, ../../sass/mygear.scss */
.uploadform textarea:focus {
  outline-style: auto;
  outline-width: 3px;
  outline-color: #8CCF4B;
}
/* line 50, ../../sass/mygear.scss */
.uploadform input.post {
  font-size: 140%;
  color: white;
  background: #8CCF4B;
  border: none;
}
/* line 57, ../../sass/mygear.scss */
.uploadform .fakeinput input {
  top: 0px;
}

/* line 66, ../../sass/mygear.scss */
.mygear {
  margin-top: 40px;
}
/* line 69, ../../sass/mygear.scss */
.mygear h3 {
  margin: 0;
}
/* line 73, ../../sass/mygear.scss */
.mygear button.uploadnew {
  font-size: 150%;
}

/* line 78, ../../sass/mygear.scss */
.fileinput {
  position: relative;
  padding: 0;
}
/* line 82, ../../sass/mygear.scss */
.fileinput input.file {
  padding: 0;
  position: relative;
  text-align: right;
  cursor: pointer;
}

/* line 94, ../../sass/mygear.scss */
.fakeinput {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 0;
}
/* line 101, ../../sass/mygear.scss */
.fakeinput input {
  text-transform: uppercase;
  background: #FFF;
  border: 2px solid #8CCF4B;
  color: #000;
  margin: auto;
  padding: 2px 2%;
  height: 100%;
  position: relative;
  font-size: 1em !important;
  cursor: pointer !important;
}
