/* line 1, ../../SASS/profile.sass */
.profile-container .main {
  position: inline;
}

/* line 4, ../../SASS/profile.sass */
.profile-container h3 {
  position: relative;
  color: white;
  top: -200px;
  left: 33%;
  font-size: 1.5em;
}

/* line 23, ../../SASS/profile.sass */
.profile-picture {
  border-style: solid;
  border-color: white;
  border-width: 6px;
  width: 6em;
  height: 6em;
  position: relative;
  top: -80px;
  left: 22%;
}

/* line 33, ../../SASS/profile.sass */
.cover-photo {
  width: 950px;
  height: 300px;
  position: relative;
}
