/* line 1, ../../SASS/profile.sass */
.main h3 {
  position: relative;
  width: 200px;
  color: white;
  top: -150px;
  left: 10%;
  display: inline-block;
  font-size: 1.5em;
}

/* line 22, ../../SASS/profile.sass */
.profile-picture {
  border-style: solid;
  border-color: white;
  border-width: 6px;
  width: 6em;
  height: 6em;
  position: relative;
  top: -80px;
  left: 5%;
}

/* line 32, ../../SASS/profile.sass */
.cover-photo {
  width: 100%;
}
