.profile-container .banner {
}

.profile-container h3 {
	position: relative;
	color: #fff;
	top: -200px;
	left: 33%;
	font-size: 1.5em;
}

.profile-container h4 {

}

.profile h5 {

}

.profile p {

}

.profile input {
	
}

.profile-picture {
	border-style: solid;
	border-color: #fff;
	border-width: 6px;
	width: 6em;
	height: 6em;
	position: relative;
	top: -80px;
	left: 22%;
}

.cover-photo {
	width: 950px;
	height: 300px;
	position: relative;
}

.section {

}

.images {

}
