@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* Stylesheet for iPad Cart Reserve form */
/*
Author: Jordan Timmerman
2013, Northwestern University MMLC
*/

.validation-msg {
  float: left;
  color: white;
  clear: both;
	width: 100%;
  font-family: "Lucida Grande", sans-serif;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 15px;
	margin-bottom: 5%;	}

.invalid {
  background: rgb(255, 100, 100);
  /* Old browsers */
  background: -moz-linear-gradient(top , rgb(255, 100, 100) 0%, rgb(200, 80, 80) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom , color-stop(0%,rgb(255, 100, 100)), color-stop(100%,rgb(200, 80, 80)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top , rgb(255, 100, 100) 0%, rgb(200, 80, 80) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top , rgb(255, 100, 100) 0%, rgb(200, 80, 80) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top , rgb(255, 100, 100) 0%, rgb(200, 80, 80) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom , rgb(255, 100, 100) 0%, rgb(200, 80, 80) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(255, 100, 100))', endColorstr='rgb(200, 80, 80)',GradientType=0 );
  /* IE6-9 */ }

.warn {
  background: rgb(150, 120,  255);
  /* Old browsers */
  background: -moz-linear-gradient(top , rgb(150, 120, 255) 0%, rgb(95, 50, 200) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom , color-stop(0%,rgb(150, 120,  255)), color-stop(100%,rgb(95, 50, 200)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top , rgb(150, 120,  255) 0%, rgb(95, 50, 200) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top , rgb(150, 120,  255) 0%, rgb(95, 50, 200) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top , rgb(150, 120,  255) 0%, rgb(95, 50, 200) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom , rgb(150, 120,  255) 0%, rgb(95, 50, 200) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(150, 120,  255)', endColorstr='rgb(95, 50, 200)',GradientType=0 );
  /* IE6-9 */ }

#warn-zone {
  width: 596px;
  position: relative;
  top: 5px; }

p.input-warning-msg {
  margin: 0 0;
  padding: 3px;
  clear: none;
  display: inline;
  font-size: 0.5em; }

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif; }
