/* line 1, ../../sass/whatsnew.scss */
.logo img {
  width: 100%;
}

/* line 8, ../../sass/whatsnew.scss */
body, .head, .logo, .nav {
  padding: 0;
  margin-bottom: 0;
  background: #EEE;
  border: none;
}

/* line 15, ../../sass/whatsnew.scss */
.pages {
  padding: 0;
}

/* line 20, ../../sass/whatsnew.scss */
.pages li {
  padding: 5% 20%;
  list-style: none;
  background: #FFF;
}

/* line 26, ../../sass/whatsnew.scss */
.pages li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 5%;
}

/* line 33, ../../sass/whatsnew.scss */
.pages #here {
  background: #8CCF4B;
}

/* line 37, ../../sass/whatsnew.scss */
.pages #here a {
  color: #FFF;
}

/* line 41, ../../sass/whatsnew.scss */
.pages li a:hover {
  cursor: pointer;
  color: #8CCF4B;
}

/* line 46, ../../sass/whatsnew.scss */
.userinfo {
  float: right;
}

/* line 50, ../../sass/whatsnew.scss */
#loginButtons button {
  top: 13px;
  padding: 5px 15px;
  margin: 0;
}

/* line 56, ../../sass/whatsnew.scss */
img.profile {
  position: absolute;
  right: -90px;
  top: 3px;
  border: 2px inset #888;
  border-radius: 10px;
}

/* line 64, ../../sass/whatsnew.scss */
h4.profile {
  font-size: 12pt;
  position: absolute;
  right: -55px;
}

/* line 70, ../../sass/whatsnew.scss */
.mainfeed {
  position: absolute;
  left: 300px;
  top: 20px;
}

/* line 76, ../../sass/whatsnew.scss */
#write form, #pic form, .message, .message-preview {
  padding: 2%;
  border-radius: 5px;
  background: #FFF;
}

/* line 82, ../../sass/whatsnew.scss */
#posttabs a {
  color: #000;
  font-weight: bold;
}

/* line 87, ../../sass/whatsnew.scss */
.post {
  margin-top: 5px;
}

/* line 91, ../../sass/whatsnew.scss */
.message-content {
  border: none;
}

/* line 95, ../../sass/whatsnew.scss */
.message {
  margin-top: 2%;
}
