/* line 1, ../../SASS/whatsnew.scss */
.logo img {
  width: 100%;
}

/* line 8, ../../SASS/whatsnew.scss */
body, .head, .logo, .nav {
  padding: 0;
  margin-bottom: 0;
  background: #EEE;
  border: none;
}

/* line 15, ../../SASS/whatsnew.scss */
.pages {
  padding: 0;
}

/* line 20, ../../SASS/whatsnew.scss */
.pages li {
  padding: 5% 20%;
  list-style: none;
  background: #FFF;
}

/* line 26, ../../SASS/whatsnew.scss */
.pages li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 5%;
}

/* line 33, ../../SASS/whatsnew.scss */
.pages #here {
  background: #8CCF4B;
}

/* line 37, ../../SASS/whatsnew.scss */
.pages #here a {
  color: #FFF;
}

<<<<<<< HEAD
/* line 41, ../../SASS/whatsnew.scss */
=======
/* line 41, ../../sass/whatsnew.scss */
.pages #here a:hover {
  cursor: default;
}

/* line 45, ../../sass/whatsnew.scss */
>>>>>>> 64e57da3b39e36cd22c0c8a3f93bc87f5d363458
.pages li a:hover {
  cursor: pointer;
  color: #8CCF4B;
}

<<<<<<< HEAD
/* line 46, ../../SASS/whatsnew.scss */
=======
/* line 50, ../../sass/whatsnew.scss */
>>>>>>> 64e57da3b39e36cd22c0c8a3f93bc87f5d363458
.userinfo {
  float: right;
}

<<<<<<< HEAD
/* line 50, ../../SASS/whatsnew.scss */
=======
/* line 54, ../../sass/whatsnew.scss */
>>>>>>> 64e57da3b39e36cd22c0c8a3f93bc87f5d363458
#loginButtons button {
  top: 13px;
  padding: 5px 15px;
  margin: 0;
}

<<<<<<< HEAD
/* line 58, ../../SASS/whatsnew.scss */
=======
/* line 61, ../../sass/whatsnew.scss */
>>>>>>> 64e57da3b39e36cd22c0c8a3f93bc87f5d363458
#loggedInData img.profile {
  padding: 3%;
  position: absolute;
  right: -90px;
  width: 60px;
  height: 60px;
}
<<<<<<< HEAD
/* line 64, ../../SASS/whatsnew.scss */
=======
/* line 69, ../../sass/whatsnew.scss */
>>>>>>> 64e57da3b39e36cd22c0c8a3f93bc87f5d363458
#loggedInData h4.profile {
  font-size: 12pt;
  position: absolute;
  right: -45px;
  top: 12px;
}

/* line 72, ../../SASS/whatsnew.scss */
.mainfeed {
  position: absolute;
  left: 300px;
  top: 20px;
}

/* line 78, ../../SASS/whatsnew.scss */
#write form, #pic form, .message, .message-preview {
  padding: 2%;
  border-radius: 5px;
  background: #FFF;
}

/* line 84, ../../SASS/whatsnew.scss */
#posttabs a {
  color: #000;
  font-weight: bold;
}

/* line 87, ../../sass/whatsnew.scss */
.post {
  margin-top: 5px;
}

/* line 91, ../../sass/whatsnew.scss */
.message-content {
  border: none;
}

/* line 95, ../../sass/whatsnew.scss */
.message {
  margin-top: 2%;
}
