/* line 1, ../../sass/whatsnew.scss */
.logo img {
  width: 100%;
}

/* line 5, ../../sass/whatsnew.scss */
body, .head, .logo, .nav {
  padding: 0;
  margin-bottom: 0;
  background: #EEE;
  border: none;
}

/* line 12, ../../sass/whatsnew.scss */
.pages {
  padding: 0;
}

/* line 17, ../../sass/whatsnew.scss */
.pages li {
  padding: 5% 20%;
  list-style: none;
  background: #FFF;
}

/* line 23, ../../sass/whatsnew.scss */
.pages li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 5%;
}

/* line 30, ../../sass/whatsnew.scss */
.pages #here {
  background: #8CCF4B;
}

/* line 34, ../../sass/whatsnew.scss */
.pages #here a {
  color: #FFF;
}

/* line 38, ../../sass/whatsnew.scss */
.pages #here a:hover {
  cursor: default;
}

/* line 42, ../../sass/whatsnew.scss */
.pages li a:hover {
  cursor: pointer;
  color: #8CCF4B;
}

/* line 47, ../../sass/whatsnew.scss */
.userinfo {
  float: right;
}

/* line 51, ../../sass/whatsnew.scss */
#loginButtons button {
  padding: 3px 15px;
  margin: 15px 0;
  font-size: 1.2em !important;
}

/* line 59, ../../sass/whatsnew.scss */
#loggedInData img.profile {
  padding: 3%;
  position: absolute;
  right: -20px;
  width: 60px;
  height: 60px;
}
/* line 67, ../../sass/whatsnew.scss */
#loggedInData h4.profile {
  font-size: 12pt;
  position: absolute;
  right: 45px;
  top: 12px;
}

/* line 75, ../../sass/whatsnew.scss */
textarea:focus {
  outline-style: auto;
  outline-width: 3px;
  outline-color: #8CCF4B;
}

/* line 81, ../../sass/whatsnew.scss */
.photoupload {
  font-size: 1.2em !important;
}

/* line 85, ../../sass/whatsnew.scss */
.mainfeed {
  position: absolute;
  left: 20%;
  top: 5%;
  padding-bottom: 200px;
}

/* line 92, ../../sass/whatsnew.scss */
.tab-content form, .message {
  padding: 2%;
  border-radius: 5px;
  background: #FFF;
}

/* line 98, ../../sass/whatsnew.scss */
.nav-tabs > li a {
  color: #444;
  cursor: pointer;
}
/* line 101, ../../sass/whatsnew.scss */
.nav-tabs > li a:hover {
  color: #000;
}

/* line 107, ../../sass/whatsnew.scss */
.nav {
  background: none;
}

/* line 111, ../../sass/whatsnew.scss */
.nav li {
  left: 15px;
  cursor: pointer;
}
/* line 115, ../../sass/whatsnew.scss */
.nav li a {
  color: #888;
}

/* line 120, ../../sass/whatsnew.scss */
.post {
  margin-top: 5px;
  font-size: 1.4em !important;
}

/* line 125, ../../sass/whatsnew.scss */
.message-content {
  border: none;
}

/* line 129, ../../sass/whatsnew.scss */
.message {
  margin-top: 2%;
}

/* line 133, ../../sass/whatsnew.scss */
.comments {
  background: #EEE;
  margin-top: 1%;
  padding-bottom: 4px;
}
/* line 140, ../../sass/whatsnew.scss */
.comments img {
  padding: 10px 15px 0 0;
}
/* line 144, ../../sass/whatsnew.scss */
.comments p {
  margin: 4px 0;
  font-weight: bold;
}
/* line 149, ../../sass/whatsnew.scss */
.comments .comment-content {
  margin-bottom: 8px;
  font-weight: normal;
}

/* line 155, ../../sass/whatsnew.scss */
.new-comment {
  margin-top: 1%;
}
/* line 158, ../../sass/whatsnew.scss */
.new-comment input.post {
  font-size: 1em !important;
}

/* line 163, ../../sass/whatsnew.scss */
.nav-tabs {
  position: relative;
  left: 10px;
}
