body {
    background-color: #f2f2f2;
    font-family: 'Tahoma', sans-serif;
    font-weight: 300;
    font-size: 100%;
    color: #333;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.container {
    background: rgba(255,255,255,0.6);
    margin-top: 2%;
    width: 75%;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Tahoma', sans-serif;
    font-weight: 300;
    /*text-shadow: 1px 1px #777;*/
}


/* Paragraph & Typographic */
p.quote {
    text-align: center;
    line-height: 130%;
    padding: 0 2%;
    font-size: 170%;
    font-weight: 300;
    /*text-shadow: 1px 1px #777;*/
}

p.cite {
    text-align: right;
    margin-bottom: 7%;
    line-height: 120%;
    padding: 0 1.5%;
    font-size: 170%;
    font-weight: 300;
    color: #333;
    /*text-shadow: 1px 1px #777;*/
}

.centered {
    text-align: center;
}

/* Links */
a {
    word-wrap: break-word;
    font-size: 125%;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a.login {
    position: absolute;
    right: 50px;
}

a.login button {
    padding: 5px 15px;
    font-size: 1.6em;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

.logo {
    display: relative;
	text-align: center;
	margin-top: 6%;
    padding: 0;
}

.logo img {
    width: 80%;
}

.def {
    padding: 2%;
    padding-left: 2.5%;
    margin-top: 4%;
}

.def p {
    text-align: center;
    font-weight: 300;
    font-size: 170%;
    /*text-shadow: 1px 1px #777;*/
}

.logo p {
    text-align: left;
    font-size: 200%;
    margin: 0;
    line-height: 100%;
    vertical-align: top;
}

.email, .clear {
    font-size: 1.8em;
    display: inline-block;
}

.email {
    position: relative;
    left: 20px;
    width: 75%;
}

.email:focus {
    outline-style: auto;
    outline-width: 5px;
    outline-color: #8CCF4B;
}

h1 {
	font-size: 600%;
}

.w {
	margin-top: 3.5%;
    margin-bottom: 2%;
}
.w i {
	font-size: 180%;
	padding: 2%;
}
.tooltip {
    font-size: 160%;
}

i.fa-facebook {
    color: #3B5998;
}

i.fa-twitter {
    color: #00aced;
}

i.fa-facebook:hover,
i.fa-facebook:focus,
i.fa-twitter:hover,
i.fa-twitter:focus {
    color: #7b7b7b;
}

.scroll-down {
    padding: 0 19%;
}

.fa-arrow-down {
    color: #8CCF4B;
    display: inline-block;
    margin: 11% 5%;
}

.scroll-down h2 {
    color: #FFF;
    text-align: center;
    display: inline-block;
}
