body {
    background-color: #f2f2f2;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #FFF;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.mainarea {
  background: url('/landing-assets/img/background.jpg');
  background-size: cover;
}

.mainarea, .bottomarea {
    padding: 0;
}

.bottomarea .joinus {
    margin-top: 30px;
}

.bottomarea h1 {
    margin: 0 30px;
    font-size: 4em;
}

.bottomarea .info-form {
    background: rgba(0,0,0,0.4);
    margin: 60px auto;
    text-align: center;
    border-radius: 5px;
    padding-top: 40px;
}

.bottomarea .info-form input {
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px 0;
    float: center;
    font-size: 1.8em;
    border-radius: 5px;
    border: 1px solid #DDD;
}

.bottomarea .info-form .custom-button {
    display: inline-block;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    margin: 12px 0;
    border: none;
}

.bottomarea .info-form p {
    font-size: 1.3em;
    margin: 20px 0;
}

.bottomarea .info-form a {
    font-size: 100%;
}

.mainarea img.background,
.bottomarea img.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    max-width: 100%;
}

.mainarea img.background {
    min-height: 35%;
}

.bottomarea img.background {
    bottom: 0;
}

.title {
    height: auto;
    text-align: center;
    margin-top: 15px;
}

.title h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 3em;
    margin: 10px 2%;
    display: inline-block;
}

.title .signup {
    display: inline-block;
}

.title .signup .custom-button {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    padding: 5px 25px;
    font-size: 1.6em;
    display: inline-block;
}

.title p {
    display: inline-block;
    margin: 10px 2%;
    font-size: 1.5em;
}

.title a, .infobar a {
    font-size: 100%;
    color: #8CCF4B;
    margin: 0;
}

.infobar {
    margin-top: 35%;
    background: rgba(0,0,0,0.7);
    width: 100%;
    text-align: center;
    position: relative;
}

.infobar h3 {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: 10px 0;
}

.tri-holder {
    position: absolute;
    left: 50%;
    z-index: 1001;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 77.9px 45px 0 45px;
    border-color: #000000 transparent transparent transparent;
    position: relative;
    left: -50%;
    top: 46px;
}

p.arrow {
    position: relative;
    left: -50%;
    top: -26px;
    font-size: 2.3em;
}

.fake-market, .about {
    background: #EEE;
    padding-top: 20px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.fake-market .photo p {
    padding: 15px 20px;
    display: none;
    background: #FFF;
    color: #000;
    height: 100%;
}

.fake-market h2, .about h2 {
    margin: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
    display: inline-block;
}

.fake-market .listgear {
    display: inline-block;
}

.fake-market .listgear .custom-button {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    padding: 5px 25px;
    margin-top: 10px;
    font-size: 1.6em;
    display: inline-block;
}

.fake-market .listgear .custom-button:hover {
    background-color: #777;
    cursor: pointer;
}

.centered {
    float: center;
}

/* Links */
a {
    word-wrap: break-word;
    font-size: 125%;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.logo {
    display: relative;
	text-align: center;
	margin-top: 30px;
    padding: 0;
}

.logo img {
    width: 100%;
}

.logo p {
    text-align: left;
    font-size: 200%;
    margin: 0;
    line-height: 100%;
    vertical-align: top;
}

.email, .clear {
    font-size: 1.8em;
    display: inline-block;
}

.email {
    position: relative;
    left: 20px;
    width: 75%;
}

.email:focus {
    outline-style: auto;
    outline-width: 5px;
    outline-color: #8CCF4B;
}

.text {
    text-align: left;
}

.about .img {
    margin-top: 8px;
}

.about img {
    width: 85%;
}
.about .about-block {
    padding-top: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DDD;
}

.about .about-block h3 {
    margin: 80px 30px 0 30px;
    font-size: 2.5em;
}

.about .about-block p {
    margin: 5px 30px;
    font-size: 1.7em;
    line-height: 120%;
}

.about .last {
    border: none;
}